{% block collectionSituationForm_widget %}
{% apply spaceless %}
    {% if prototype is defined %}
        {% set child = prototype %}
        {% set allow_delete_backup = allow_delete %}
        {% set allow_delete = true %}
        {% set attr = attr|merge({'data-prototype': block('collectionSituationForm_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default('') }) %}
        {% set allow_delete = allow_delete_backup %}
    {% endif %}
    <div {{ block('widget_container_attributes')}}>
        {{ form_errors(form) }}
        {% for child in form %}
            {{ block('collectionSituationForm_widget_row') }}
        {% endfor %}
        {{ form_rest(form) }}
        {% if allow_add %}
            <div><a href="#" class="btn btn-link sonata-collection-add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></div>
        {% endif %}
    </div>
{% endapply %}
{% endblock collectionSituationForm_widget %}

{% block collectionSituationForm_widget_row %}
{% apply spaceless %}
<div class="sonata-collection-row">
        {% if allow_delete %}
            <div class="row">
                <div class="col-xs-1">
                    <a href="#" class="btn btn-link sonata-collection-delete">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-11">
        {% endif %}
            {{ form_row(child, { label: false }) }}
            <hr>
        {% if allow_delete %}
                </div>
            </div>
        {% endif %}
    </div>
{% endapply %}
{% endblock collectionSituationForm_widget_row %}