
{% extends "basePPSPS.html.twig" %}
{% block page %}
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <h2 class="">1.2. Mesures génerales Hygiène,Sécurité et Santé au Travail</h2>
        <h2 class="">1.2.1 Généralités</h2>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Chantiers sous coordonnation S.P.S</td>
                </tr>
                <tr>
                    <td class="">Coordinateur sécurité</td>
                    <td><input type="checkbox" name="" {% if securityCoordinator == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                    <td><input type="checkbox" name="" {% if securityCoordinator == false %}checked="true"{% endif %} />&nbsp;Non</td>
                    <td class="" colspan="2">Nom : <b>{{securityCoordinatorName}}</b> <td>
                </tr>
                <tr>
                    <td class="">PGC</td>
                    <td><input type="checkbox" name="" {% if PGC == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                    <td><input type="checkbox" name="" {% if PGC == false %}checked="true"{% endif %} />&nbsp;Non</td>
                    <td class="">Date : <b>{{PGCDate}}</b> </td>
                    <td class="">Ref : <b>{{PGCRef}}</b> </td>
                </tr>
                <tr>
                    <td class="">Visite d'Inspection Commune</td>
                    <td><input type="checkbox" name="" {% if inspectionVisitDate != null %}checked="true"{% endif %}/>&nbsp;Oui</td>
                    <td><input type="checkbox" name="" {% if inspectionVisitDate == null %}checked="true"{% endif %} />&nbsp;Non</td>
                    <td class="" colspan="2">Date : <b>{{inspectionVisitDate}}</b></td>
                </tr>
                <tr>
                    <td class="">Niveau de chantier</td>
                    <td><input type="checkbox" name="" {% if siteLevel == "Niveau 1" %}checked="true"{% endif %}/>&nbsp;1</td>
                    <td><input type="checkbox" name="" {% if siteLevel == "Niveau 2" %}checked="true"{% endif %}/>&nbsp;2</td>
                    <td><input type="checkbox" name="" {% if siteLevel == "Niveau 3" %}checked="true"{% endif %}/>&nbsp;3</td>
                </tr>

            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Accès, circulation et clôtures :</td>
                </tr>
                <tr>
                    <td colspan="5"> Les plans d’accès au chantier sont joints au PPSPS : <i class="bold">" Plan d'accès au Chantier (PAC) "</i> ou <i class="bold">" Plan d'Installation de Chantier (PIC)"</i>.</td>
                </tr>
                <tr>
                    <td colspan="5">Un panneau d’information est installé aussi souvent que possible, portant le nom de l’entreprise intervenant et l’origine des travaux.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <i class="bold">Lorsque le chantier est clos</i>, l’ensemble du chantier est délimité par des clôtures continues qui portent l’interdiction d’accès au public.
                        Les accès au chantier sont identifiés par un portail et réservés au personnel de l’entreprise autorisé uniquement.</td>
                </tr>
                <tr>
                    <td class="" colspan="3">Accès Contrôlé</td>
                    <td><input type="checkbox" name=""  {% if isControlled == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                    <td><input type="checkbox" name="" {% if isControlled == false %}checked="true"{% endif %}/>&nbsp;Non</td>
                </tr>
                <tr>
                    <td class="" colspan="3">Présence d'un Gardien</td>
                    <td><input type="checkbox" name="" {% if isGuardian == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                    <td><input type="checkbox" name="" {% if isGuardian == false %}checked="true"{% endif %} />&nbsp;Non</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <i class="bold">Lorsque le chantier est ouvert sur la voie publiques</i>,</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if isGuardian == true %}checked="true"{% endif %} />&nbsp;une demande de travaux hors circulation a été demandée au Maître d’ouvrage.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if isGuardian == true %}checked="true"{% endif %} />&nbsp;une déviation a été accordée. La zone de travaux est signalée par des panneaux provisoires sur la voie publique en respectant les distances imposées et des barrières sont installées.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if isGuardian == true %}checked="true"{% endif %} />&nbsp;lorsque la déviation n’est pas possible, les travaux se font sous alternat. La zone de travaux est signalée sur la voie publique par des panneaux provisoires en respectant les distances imposées.</td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Livraisons</td>
                </tr>
                <tr>
                    <td class="" colspan="5">Le <i class="bold">" Plan d'accès au Chantier (PAC) "</i> et <i class="bold">" Plan d'Installation de Chantier (PIC)"</i> sont communiqués aux fournisseurs concernés dans le cadre de l'envoi du protocole de chargement / déchargement.
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Stockage</td>
                </tr>
                <tr>
                    <td class="" colspan="5">Les lieux de stockage (matériaux, matériel, décehts) sont précisés sur le <i class="bold">" Plan d'Installation de Chantier (PIC)".</i> De plus, les livreurs sont accueillis par une personne désignée dans l’entreprise.</td>
                </tr>
            </tbody>
        </table>
        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{page + 1}}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
<div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                {% if logo is not null %}
            <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
            {% else %}
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            {% endif %}
            <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Installations de l'entreprise ou du groupement d'entreprises</td>
                        </tr> 
                {% if listOfInstallations is defined and listOfInstallations != null %}
                    <tr>
                        <td><input type="checkbox" name="" {% if "Installation mobile équipée" in listOfInstallations %} checked {% endif %} />&nbsp;Installation mobile équipée</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "WC raccordé" in  listOfInstallations %} checked {% endif %} />&nbsp;WC raccordé</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "WC non raccordé" in  listOfInstallations %} checked {% endif %} />&nbsp;WC non raccordé</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Installation fixe" in  listOfInstallations %} checked {% endif %} />&nbsp;Installation fixe</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Bureau de chantier" in  listOfInstallations %} checked {% endif %} />&nbsp;Bureau de chantier</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Vestiaire" in  listOfInstallations %} checked {% endif %} />&nbsp;Vestiaire</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Réfectoire" in  listOfInstallations %} checked {% endif %} />&nbsp;Réfectoire</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Lavabos" in  listOfInstallations %} checked {% endif %} />&nbsp;Lavabos</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if "Douche" in  listOfInstallations %} checked {% endif %} />&nbsp;Douche</td>
                    </tr>
                    {% endif %}
                        <tr>
                            <td colspan="5">Les tables sont recouvertes d'un revêtement lavable, les baraques de chantier sont équipées de bancs, chauffe-plats et les locaux sont éclairées, aérés, chauffés etc.</td>
                        </tr>
                        <tr>
                            <td colspan="5">L'ensemble des installations est raccordé aux réseaux et entretenu régulièrement par :</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="3"  {% if isMaintenedByRougeot == true %}checked="true"{% endif %} />&nbsp;Rougeot</td>
                            <td><input type="checkbox" name="" colspan="2" {% if isMaintenedByRougeot == false %}checked="true"{% endif %} />&nbsp;Autre : <b>{{maintainer}}</b> <td>
                        </tr>
                        <tr>
                            <td colspan="5">Ces installations sont adaptées au fur et à mesure de l'avancement des travaux, en focntion de l'effectif total du chantier</td>
                        </tr>
                    </tbody>
                </table>
            </table>
            <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Affichage et documents obligatoires sur le chantier :</td>
                        </tr>
                        {% if listOfWorksMandatoryDocs is defined and listOfWorksMandatoryDocs != null %}
                        <tr>
                            <td><input type="checkbox" name="" {% if "Le règlement intérieur de l’entreprise" in listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Le règlement intérieur de l’entreprise</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Les horaires de travail et la période de fermeture de l’entreprise le cas échéant*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Les horaires de travail et la période de fermeture de l’entreprise le cas échéant*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Les coordonnées de la médecine du travail*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Les coordonnées de la médecine du travail*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Les coordonnées de l’inspection du travail*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Les coordonnées de l’inspection du travail*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Le lieu où est située l’infirmerie, pour les chantiers de plus de 300 personnes" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Le lieu où est située l’infirmerie, pour les chantiers de plus de 300 personnes</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Les consignes de sécurité incendie*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Les consignes de sécurité incendie*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Les numéros d’urgence et de secours*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;Les numéros d’urgence et de secours*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "L’affiche récapitulative des consignes de premiers secours" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;L’affiche récapitulative des consignes de premiers secours</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "La liste des Sauveteurs Secouristes présents sur le chantier" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;La liste des Sauveteurs Secouristes présents sur le chantier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "L’interdiction de fumer*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;L’interdiction de fumer*</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "La liste des membres du CSE*" in  listOfWorksMandatoryDocs %} checked {% endif %} />&nbsp;La liste des membres du CSE*</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Les autres documents tels que le DUER, la convention collective, le résultat des élections et autres accords de l’entreprise sont consultables au siège de l’entreprise.</td>
                        </tr>
                    </tbody>
                </table>
            <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
            <div class="rightPage">page {{page + 2}}</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
</div>
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <h3 class="">1.2.2 Surveillance médicale du personnel et habilitations particulières</h3>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td>
                        Elle est assurée par le service de santé au travail dont les coordonnées sont rappelées dans les documents en annexe. La plupart du personnel de chantier est en Suivi Individuel Renforcé.
                        <br> Les rendez-vous avec le service de santé au travail sont réalisés au minimum au rythme suivant :
                    </td>
                </tr>
                <tr>
                    <td colspan="5">- Une visite médicale réalisée par le médecin du travail avant l'embauche (examen d'embauche) et elle renouvelée au moins tous les 4 ans (examen périodique). </td>
                </tr>
                <tr>
                    <td colspan="5">- Une visite intermédiaire réalisée par un professionnel de santé (par exemple interne en médecine ou infirmier) au plus tard 2 ans après la visite avec le médecin du travail.</td>
                </tr>
                <tr>
                    <td colspan="5">- Une visite de reprise du travail après un arrêt de travail supérieur à 30 jours mais inférieur à 3 mois (suite à accident, maladie ou maternité)</td>
                </tr>
                <tr>
                    <td colspan="5">- Une visite de préreprise de travail en cas d’arrêt de travail de plus de 3 mois</td>
                </tr>
                    <tr>
                    <td >
                        Des examens particuliers sont effectués en fonction des risques spécifiques auxquels pourraient être soumises certaines catégories de personnel.
                    </td>
                </tr>
       
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Habilitations ou attestations particulières du personnel affecté au chantier</td>
                </tr>
        {% if suiabilityList is defined and suiabilityList  != null %}
                <tr>
                    <td><input type="checkbox" name="" {% if "F.C.O." in  suiabilityList %} checked {% endif %} />&nbsp;F.C.O.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Conduite d'engins" in  suiabilityList %} checked {% endif %} />&nbsp;Conduite d'engins</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Conduite de nacelles élévatrices ou P.E.M.P." in  suiabilityList %} checked {% endif %} />&nbsp;Conduite de nacelles élévatrices ou P.E.M.P.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Utilisation d'explosifs CPT" in  suiabilityList %} checked {% endif %} />&nbsp;Utilisation d'explosifs CPT</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Travail en égout CATE 2" in  suiabilityList %} checked {% endif %} />&nbsp;Travail en égout CATE 2</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "H0/B0V" in  suiabilityList %} checked {% endif %} />&nbsp;H0/B0V</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "H1/B1T" in  suiabilityList %} checked {% endif %} />&nbsp;H1/B1T</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "H2/B2T" in  suiabilityList %} checked {% endif %} />&nbsp;H2/B2T</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Grutier" in  suiabilityList %} checked {% endif %} />&nbsp;Grutier</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "H2/B2T" in  suiabilityList %} checked {% endif %} />&nbsp;H2/B2T</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "F.I.M.O." in  suiabilityList %} checked {% endif %} />&nbsp;F.I.M.O.</td>
                </tr>
                    <tr>
                    <td><input type="checkbox" name="" {% if "Echafaudage: montage/démontage" in  suiabilityList %} checked {% endif %} />&nbsp;Echafaudage: montage/démontage</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Echafaudage: réception" in  suiabilityList %} checked {% endif %} />&nbsp;Echafaudage: réception</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Harnais" in  suiabilityList %} checked {% endif %} />&nbsp;Harnais</td>
                </tr>
        {% endif %}
                <tr>
                    <td colspan="5">Pour les intérimaires, le conducteur de travaux ou le chef de chantier délivre une autorisation spécialement pour le chantier après contrôle des documents justificatifs (CACES et aptitude médicale)</td>
                </tr>
            </tbody>
        </table>
        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{page + 3}}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
<!--Page 10-->
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <h3 class="">1.2.3 Organisation des secours</h3>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td colspan="5">Les consignes de premiers secours se trouvent sur l'affiche Affiche secours et sont affichées sur chantier.</td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Cas de blessures légères :</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Sans conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                </tr>
                <tr>
                    <td colspan="5">✓ Secours sur place par le Sauveteur Secouriste du Travail,</td>
                </tr>
                <tr>
                    <td colspan="5">✓ Information de l'encadrement chantier.</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Avec conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                </tr>
                <tr>
                    <td colspan="5">✓ Premiers soins par le Sauveteur Secouriste du Travail,</td>
                </tr>
                <tr>
                    <td colspan="5">✓ Constat par le chef de chantier, avec SST éventuellement, information du conducteur de travaux qui décide d’en informer le service prévention</td>
                </tr>
                <tr>
                    <td class="bold underline title" colspan="5">En cas d'accident grave ou mortel :</td>
                </tr>
                <tr>
                        <td>
                            <img src="{{ asset('img/schema.png') }}" height="200" weight="150">
                        </td>
                        <td>
                            <ol>
                                <li>1. Je sécurise la zone</li>
                                <li>2. J'appelle les secours: 18,15 ou 112</li>
                                <li>3. J'identifie le secouriste</li>
                                <li>4. Je fait soigner les blessures légéres</li>
                                <li>5. Je préviens ma hiérarchie</li>
                                <li>6. J'appelle le service de prévention</li>
                            </ol>
                        </td>
                </tr>
                         <tr>
                    <td class="bold underline title" colspan="5">RAPPEL: conduite à tenir en cas d'accident :</td>
                </tr>
                <tr>
                    <td colspan="5">⦁	Une fois la victime secourue, avertissement de la hiérarchie et du conducteur de travaux. </td>
                </tr>
                <tr>
                    <td colspan="5">⦁	Remplissage de la fiche navette décrivant les blessures et les circonstances de l’accident et transmission de la fiche notamment au service prévention</td>
                </tr>
                <tr>
                    <td colspan="5">⦁	Réalisation de la déclaration d’accident auprès de la CPAM par le service prévention en relation avec la direction de l’entreprise</td>
                </tr>
                <tr>
                    <td colspan="5">⦁	En cas d’accident grave ou mortel, information des services de la Carsat, de l’OPPBTP et de l’inspection du travail pour les accidents mortels par le service prévention</td>
                </tr>
                <tr>
                    <td colspan="5">⦁	Pour les accidents avec arrêt, réalisation de l’enquête par le service prévention en recueillant les informations de la victime, des éventuels témoins en présence si possible de l’encadrement</td>
                </tr>
                <tr>
                    <td colspan="5">⦁	Pour les accidents graves ou mortels, présentation de l’accident en CSSCT/CHSCT </td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Les S.S.T. (Sauveteurs Secouristes du Travail)</td>
                </tr>
                <tr>
                    <td colspan="5">La liste des <i>"Sauveteurs Secouristes du Travail"</i> est affichée sur le chantier.</td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Trousse de secours</td>
                </tr>
                <tr>
                    <td colspan="5">Des boîtes à pharmacie sont à disposition sur le chantier afin d'effectuer les premiers secours et sont gérées par le chef de chantier.</td>
                </tr>
            </tbody>
        </table>
        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{page + 4}}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
<!--Page 11-->
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <h3 class="">1.2.4 Mesures de préventions</h3>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title">Registres et documents obligatoires présents au démarrage du chantier :</td>
                </tr>

        {% if mandatoryDocument is defined and mandatoryDocument  != null %}
                <tr>
                    <td><input type="checkbox" name="" {% if "Registre unique de sécurité" in  mandatoryDocument %} checked {% endif %} />&nbsp;Registre unique de sécurité</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Registre d'observations" in  mandatoryDocument %} checked {% endif %} />&nbsp;Registre d'observations</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Registre du personnel sur chantier" in  mandatoryDocument %} checked {% endif %} />&nbsp;Registre du personnel sur chantier</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Registre des avis de dangers grave et imminent" in  mandatoryDocument %} checked {% endif %} />&nbsp;Registre des avis de dangers grave et imminent</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "PV de contrôle installation grue" in  mandatoryDocument %} checked {% endif %} />&nbsp;PV de contrôle installation grue</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "PV de contrôle installation électrique" in  mandatoryDocument %} checked {% endif %} />&nbsp;PV de contrôle installation électrique</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Permis de démolir" in  mandatoryDocument %} checked {% endif %} />&nbsp;Permis de démolir</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Autorisation de voirie" in  mandatoryDocument %} checked {% endif %} />&nbsp;Autorisation de voirie</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" {% if "Arrêté de circulation" in  mandatoryDocument %} checked {% endif %} />&nbsp;Arrêté de circulation</td>
                </tr>
        {% endif %}

            </tbody>
            <table class="col1 center">
                <tbody>
                    <tr>
                        <td>⇨ Ces documents sont tenus à jour et disponibles sur chantier.</td>
                    </tr>
                </tbody>
            </table>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Accueil et formation des nouveaux arrivants sur le chantier :</td>
                </tr>
                <tr>
                    <td colspan="5">Pour le personnel de l’entreprise, les intérimaires l’accueil général est réalisé par le CDT, un représentant du service prévention, voire le directeur de travaux de l’entreprise, au moyen d’un questionnaire et avec la remise d’un livret d’accueil. L’accueil au poste de travail est réalisé par le chef de chantier, qui présente les risques spécifiques au poste et détaille l’environnement du chantier. Le PPSPS peut servir de support à cette présentation. L’ensemble est formalisé via une Attestation d’accueil avec remise du livret et éventuellement l’émargement du PPSPS.</td>
                </tr>
                <tr>
                    <td colspan="5">Pour les entreprise sous-traitantes, le représentant de l’entreprise est accueilli directement sur le chantier par le chef de chantier, qui au-delà de la partie technique de l’intervention, présente l’environnement du chantier et s’assure que le sous-traitant a pris en compte les risques liés à son activité. Le conducteur de travaux aura vérifié préalablement le PPSPS réalisé par le sous-traitant.</td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title" colspan="5">Réunion spécifique d'information ou de formation à la sécurité propre au chantier</td>
                </tr>
                <tr>
                    <td colspan="5">Il peut être organisé pour le personnel de l’entreprise (ou groupement) des réunions spécifiques d’information, de formation ou de sensibilisation à la sécurité propre au chantier, afin notamment de présenter le P.P.S.P.S. du chantier
                        et les recommandations qu’il contient.</td>
                </tr>
            </tbody>
        </table>
        <table class="col1 transparent small">
            <tbody>
                <tr>
                    <td class="bold underline title">Equipements de protections individuelles EPI :</td>
                </tr>
                <tr>
                    <td>Quelle que soit l’activité du chantier, les EPI obligatoires pour l’ensemble des personnes présentes sur le chantier, y compris les visiteurs, sont :</td>
                </tr>
                <tr>
                    <td>&nbsp; - Casque de protection <img height="32px" width="32px" src="{{ asset('img/icons/casque.png') }}"></td>
                </tr>
                <tr>
                    <td>&nbsp; - Gilet haute visibilité <img height="32px" width="32px" src="{{ asset('img/icons/gilet.png') }}"></td>
                </tr>
                <tr>
                    <td>&nbsp; - Chaussures ou bottes de sécurité <img height="32px" width="32px" src="{{ asset('img/icons/bottes.png') }}"></td>
                </tr>
                
            </tbody>
        </table>
        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{page + 5}}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
<!--Page 11-->
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <table class="col1 transparent small">
                <tr>
                    <td>Ces équipements sont complétés en fonction des tâches à réaliser, notamment par :
                    </td>
                </tr>
                <tr>
                    <td>&nbsp; - Lunettes <img height="32px" width="32px" src="{{ asset('img/icons/lunettes.png') }}"></td>
                </tr>
                <tr>
                    <td>&nbsp; - Protections auditives <img height="32px" width="32px" src="{{ asset('img/icons/protections.png') }}"></td>
                </tr>
                <tr>
                    <td>&nbsp; - Gants de protection <img height="32px" width="32px" src="{{ asset('img/icons/gants.png') }}"></td>
                </tr>
                <tr>
                    <td>Cette liste n’est pas exhaustive et est complétée en fonction de l’activité selon l’analyse des risques qui suit.</td>
                </tr>
                <tr>
                    <td>Chaque salarié reçoit un paquetage renouvelé annuellement qui comprend une tenue complète de vêtements de travail et les équipements de protection individuelle décrits ci-dessous sont renouvelés au fur et à mesure des besoins.
                    </td>
                </tr>
        </table>
        <table class="col1 transparent small">
            <tbody>
            
                <tr>
                    <td class="bold underline title">Protection contre l'incendie :</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Dans les cantonnements :</td>
                </tr>
                <tr>
                    <td>Un extincteur portatif ABC de 6 litres au minimum pour 200 m2 de plancher, avec un minimum d’un appareil par niveau. Lorsque les locaux présentent des risques d’incendie particuliers, notamment des risques électriques, plaque
                    </td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Dans les véhicules :</td>
                </tr>
                <tr>
                    <td>- Camionnettes de chantier
                        < 3,5 T : 1 extincteur ABC 2 kg en cabine</td>
                </tr>
                <tr>
                    <td>- Camions monoblocs et camions articulés entre 3,5 T et 7,5 T : 1 extincteur ABC 2 kg en cabine</td>
                </tr>
                <tr>
                    <td>- Camions monoblocs et camions articulés > 7,5 T : 1 extincteur ABC 2 kg en cabine + 1 extincteur 6 kg en extérieur</td>
                </tr>
                <tr>
                    <td class="mini">Pour le transport de matières dangereuses (exemple : le fioul), quel que soit le poids du véhicule, rajout d’un extincteur ABC 2 kg.</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Au poste de travail :</td>
                </tr>
                <tr>
                    <td>- 1 extincteur 2 kg CO2 dans la cabine de grue</td>
                </tr>
                <tr>
                    <td>- 1 extincteur 6 kg ABC à chaque risque de flamme (ex : chalumeau, etc.)</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Réaction en cas de pollution accidentelle :</td>
                </tr>
                <tr>
                    <td>Nos engins et matériels respectent les normes et sont régulièrement entretenus. Toutefois en cas de fuite accidentelle, chaque chef de chantier dispose d'un kit anti-pollution et intervient immédiatement pour circonscrire la pollution et ramasser les déchets et terres pollués.</td>
                </tr>
                <tr>
                    <td class="underline" colspan="5">⇨ Tri des déchets :</td>
                </tr>
                <tr>
                    <td>Les consignes de tri imposées sur le chantier sont respectées. Dans tous les cas, le tri s'effectue sur place en utilisant des bennes identifiées ou de retour au dépôt de l'entreprise dans les contenants identifiés.</td>
                </tr>
            </tbody>
        </table>
        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{ page + 6 }}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
<div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                {% if logo is not null %}
            <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
            {% else %}
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            {% endif %}
            <h3 class="">1.2.5 Consignes spécifiques au chantier</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="title" colspan="2">Existe-t-il des consignes de sécurité particulières, en-dehors des heures normales de travail ?</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if particularSecurityDetail == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" {% if particularSecurityDetail == false %}checked="true"{% endif %}  />&nbsp;Non</td>
                    </tr>
                    <tr>
                        <td colspan="2">Les consignes spécifiques sont jointes en annexe </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="">1.2.6 Risques importés / risques exportés</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="title" colspan="2">Existe-t-il des Existe-t-il des risques importés ou exportés particuliers au chantier non traités dans l'analyse des risques</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" {% if particularExternalRisk == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" {% if particularExternalRisk == false %}checked="true"{% endif %}  />&nbsp;Non</td>
                    </tr>
                    <tr>
                        <td colspan="2">Les risques sont joints en annexe</td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
            <div class="rightPage">page {{ page + 7 }}</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
{% endblock %}