
{% extends "basePPSPS.html.twig" %}
{% block page %}
<div class="pageContainer" id="frontPage">
    {% if logo is not null %}
    <div class="cornerFront"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
    {% else %}
    <div class="cornerFront"><img src="{{ asset('img/logo.png') }}"></div>
    {% endif %}
    <div class="pageContent">
       <span class="frontWhiteTitle">PPSPS {{siteName}}</span>
       <br>
       <br>
       {% if updatesPpsps is defined and updatesPpsps != null %}
       {% set lastArray = updatesPpsps|last %}
       {% set lastRow = lastArray|last %}
            <span class="frontWhiteDate">{{lastRow.indexUpdate}}</span>
           {% else %}
           <span class="frontWhiteDate">{{ "now"|date("d/m/Y", "Europe/Paris") }}</span>
        {% endif %}
    </div>
</div>
{% endblock page %}
