<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ROUGEOT TP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oci5yxr.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body>
    <!--Cover-->
    <!--div class="pageContainer">
        <div id="docCover"></div>
    </div-->
    <!--Page 1-->
    <style>
        a{text-decoration:none}
        li{list-style-type:none}
        ul{padding:0px;margin:0px}
        body{margin:0px;margin-top:-18px}
        body{width:1654px;font-family:'Roboto', sans-serif;font-weight:400;overflow-x:hidden}
        .pageContent{height:1680px}.cornerTop{left:-10px;top:0px;position:absolute}
        .cornerTop img{width:200px}.cornerRight{right:24px;top:20px;position:absolute}
        .cornerRight img{width:100px}
        .bottomLeft{color:#db1f2d;text-transform:uppercase;font-family:'eurostile', sans-serif;position:absolute;left:20px;bottom:25px}
        .bottomRight{text-transform:uppercase;font-family:'eurostile', sans-serif;position:absolute;right:-108px;bottom:-30px}
        h1,h2,h3,h4{text-align:center;font-family:'eurostile', sans-serif}
        td{font-family:'eurostile', sans-serif}
        p{font-family:'Robot', sans-serif;font-weight:400;text-align:center}
        h1{font-size:26px;padding-top:64px}h2{font-size:18px}h3{font-size:16px;padding-top:18px}
        thead th{font-size:16px}p{color:#7d7d7d;font-size:14px}
        .normal{width:100px}.wide{width:200px}.xwide{width:300px}
        .grey{background-color:#e5e5e5}.pageContainer{width:1200px;position:relative}
        .pageContent{max-width:820px;margin:0 auto}
        table{border-collapse:collapse;margin:0 auto;margin:22px 0px}
        table .mini{font-size:11px;font-weight:200}
        table th{font-weight:400;text-transform:uppercase;color:#fff;background-color:#7d7d7d;height:40px}
        table th,table td{vertical-align:middle;border-left:1px solid #000;border-right:1px solid #000;padding:0px 10px;font-size:14px}
        table td{line-height:15px;padding:16px}table tr{height:30px;padding:10px}table tr,table th{border:1px solid #000}
        .center{text-align:center}.small td{padding:10px 0px}
        .transparent td{border:1px solid transparent;font-family:'Roboto', sans-serif}
        .transparent .bold{font-weight:600}
        .transparent .underline{text-decoration:underline}
        .transparent .title{font-size:16px;font-family:'eurostile', sans-serif}
        .maitreOuvrage{float:right}
        .maitreOuvrage th{background-color:#fff;color:#000;text-transform:none}
        .textLeft{text-align:left}.tableLeft{float:left}
        .tableRight{float:right;z-index:100;position:relative}
        .rightPage{font-weight:200;position:absolute;bottom:25px;right:25px;z-index:100}
        .tableLeft,.tableRight,.maitreOuvrage{margin:16px 0px}
        .col3{width:32%}
        .col2{width:64%}
        .col1{width:100%}
        .row2 th,.row2 td{height:80px}
        #docCover{background-image:url("../img/cover.jpg");
        background-size:cover;background-position:center;
        background-repeat:no-repeat;
        height:2339px;margin:0 auto;max-width:1739px}
        .rightpipe,.bottompipe{position:relative}.bottompipe{z-index:2}


        .rightpipe:after{content:"- - - - - ";width:50px;position:absolute;right:-42px;bottom:-6px}
        table { page-break-inside:auto; }
        tr    { page-break-inside:avoid; page-break-after:auto; }
        thead { display:table-header-group; }
        tfoot { display:table-footer-group; }
        
        .pageContent {
            page-break-after: always;
        }
    </style>

    <base href="{{ absolute_url('/') }}">
    <body>
        {% if ppsps['image'] is not null %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                    {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1>P.P.S.P.S.</h1>
                <h2>{{ppsps['siteName']}}</h2>
                <p>Plan Particulier pour la Sécurité et la Protection de la Santé</p>	
                <img src="{{ asset('ppspsImage/'~ ppsps['image'])}}" height="500px" weight="500px">
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endif %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1>P.P.S.P.S.</h1>
                <p>Plan Particulier pour la Sécurité et la Protection de la Santé</p>	
                <table class="tableLeft col2">
                    <tbody>
                        <tr>
                            <th>Nom du Chantier</th>
                            <th>N°</th>
                            <th>Adresse</th>
                            <th>Période d'éxécution</th>
                        </tr>
                        <tr>
                            <td>{{ppsps['siteName']}}</td>
                            <td>{{ppsps['siteNumber']}}</td>
                            <td>{{ppsps['globalSiteAddress']}}</td>
                            <td>{{ppsps['periodOfExecution']}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="maitreOuvrage col3 row2">
                    <tbody>
                        <tr>
                            <th>Maître de l'Ouvrage</th>
                        </tr>
                        <tr>
                            <td>{{ppsps['owner']}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="tableLeft col2">
                    <tbody>
                        <tr>
                            <th>Indice de Révision</th>
                            <th>Date</th>
                        </tr>
                    {% if ppsps['updatesPpsps'] is defined and ppsps['updatesPpsps'] != null %}
                            {% set lastArray = ppsps['updatesPpsps']|last %}
                            {% set lastRow = lastArray|last %}
                                <tr>
                                    <td>{{lastRow.indexUpdate}}</td>
                                    <td>{{lastRow.updateDate}}</td>
                                </tr>
                    {% endif %}
                    </tbody>
                </table>
                <table class="col1">
                    <thead>
                        <tr>
                            <th colspan="4">Visas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Rédacteur</th>
                            <th>Conducteur de travaux</th>
                            <th>Approbateur</th>
                            <th>Directeur de projet</th>
                        </tr>
                        <tr>
                            <td>Nom : </td>
                            <td></td>
                            <td>Nom : </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date : </td>
                            <td></td>
                            <td>Date : </td>
                            <td></td>
                        </tr>
                        <tr class="row2">
                            <td>Signature : </td>
                            <td></td>
                            <td>Signature : </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1">
                    <thead>
                        <tr>
                            <th colspan="2">Visas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Approbateur</th>
                            <th>QSE</th>
                        </tr>
                        <tr>
                            <td>Nom : </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date : </td>
                            <td></td>
                        </tr>
                        <tr class="row2">
                            <td>Signature : </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% if ppsps['diffusions'] is defined and ppsps['diffusions'] != null %}
        {% for value in ppsps['diffusions'] %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                  <table class="col1">
                    <thead>
                        <tr>
                            <th colspan="5">Diffusions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th rowspan="2">Destinataire</th>
                            <th rowspan="2">Nom</th>
                            <th rowspan="2">Date</th>
                            <th colspan="2">Diffusion</th>
                        </tr>
                        <tr>
                            <th>Mail</th>
                            <th>Papier</th>
                        </tr>
                        {% for subvalue in value %}
                        <tr>
                            <td>{{subvalue.recipient}}</td>
                            <td>{{subvalue.name}}</td>
                            <td>{{subvalue.date}}</td>
                            <td {% if subvalue.isNumeric == null %}class="grey"{% endif %} >{% if subvalue.isNumeric != null %}Oui{% endif %}</td>
                            <td {% if subvalue.paper != true %}class="grey"{% endif %} >{% if subvalue.paper == true %}Oui{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!--Page 2-->
        {% if ppsps['updatesPpsps'] is defined and ppsps['updatesPpsps'] != null %}
        {% for value in ppsps['updatesPpsps'] %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1>Tableau de mise à jour du P.P.S.P.S.</h1>
                <table class="col1">
                    <tbody>
                        <tr>
                            <th>Objet de la modification</th>
                            <th>Indice</th>
                            <th>Date</th>
                            <th>Réalisé par :</th>
                            <th>Validé par :</th>
                        </tr>
                            {% for subvalue in value %}
                            <tr>
                                <td>{{subvalue.updateObject}}</td>
                                <td>{{subvalue.indexUpdate}}</td>
                                <td>{{subvalue.updateDate}}</td>
                                <td>{{subvalue.writeBy}}</td>
                                <td>{{subvalue.aprovedBy}}</td>
                            </tr>        
                            {% endfor %}
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!--SOMMAIRE-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1 class="bold underline">SOMMAIRE P.P.S.P.S.</h1>
                <h2 class="bold ">1 Plan Particulier de Sécurité et de Protection de la Santé</h2>
                <table class="col1 transparent ">
                    <tbody>
                        <tr>
                            <td class="bold title" colspan="2">1.1 Renseignements généraux</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.1.1 Idenfification des travaux</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.1.2 Organisation de l'entreprise (ou du groupement) et intervenants</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.1.3 Effectif et horaires du chantier</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td class="bold title" colspan="2">1.2 Coordination S.P.S.</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.2.1 Surveillance médicale du personnel et aptitudes particulières</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.2.2 Organisation des secours</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.2.3 Documents obligatoires</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>1.2.4 Consignes spécifiques au chantier</td>
                            <td>page X</td>
                        </tr>
                        <tr>
                            <td class="bold title" colspan="2">1.3 Analyse des risques de ROUGEOT</td>
                            <td>page X</td>
                        </tr>
                    </tbody>
                </table>
    
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 3-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1>Abréviations</h1>
                <table class="col1 transparent ">
                    <tbody>
                        <tr>
                            <td class="bold">A.Q.S.E.</td>
                            <td>Animateur/trice Qualité, Sécurité, Environnement</td>
                        </tr>
                        <tr>
                            <td class="bold">BET</td>
                            <td>Bureau d’Etudes</td>
                        </tr>
                        <tr>
                            <td class="bold">B.P.E.</td>
                            <td>Bon Pour Exécution</td>
                        </tr>
                        <tr>
                            <td class="bold">C</td>
                            <td>Conforme</td>
                        </tr>
                        <tr>
                            <td class="bold">C.A.C.E.S.</td>
                            <td>Certificat d’Aptitude à la Conduite d’Engins en Sécurité</td>
                        </tr>
                        <tr>
                            <td class="bold">C.A.R.S.A.T.</td>
                            <td>Caisse d'Assurance Retraite et de la Santé Au Travail</td>
                        </tr>
                        <tr>
                            <td class="bold">C.C.</td>
                            <td>Chef de chantier</td>
                        </tr>
                        <tr>
                            <td class="bold">C.C.A.G.</td>
                            <td>Cahier des Clauses Administratives Générales</td>
                        </tr>
                        <tr>
                            <td class="bold">C.C.T.P.</td>
                            <td>Cahier des Clauses Techniques Particulières</td>
                        </tr>
                        <tr>
                            <td class="bold">C.D.T.</td>
                            <td>Conducteur des travaux</td>
                        </tr>
                        <tr>
                            <td class="bold">CE</td>
                            <td>Communauté Européenne (norme CE)</td>
                        </tr>
                        <tr>
                            <td class="bold">C.E.</td>
                            <td>Comité d’Entreprise</td>
                        </tr>
                        <tr>
                            <td class="bold">C.H.S.C.T.</td>
                            <td>Comité d’Hygiène, de Sécurité et des Conditions de Travail</td>
                        </tr>
                        <tr>
                            <td class="bold">D.I.B.</td>
                            <td>Déchets Industriels Banals</td>
                        </tr>
                        <tr>
                            <td class="bold">D.I.C.T.</td>
                            <td>Déclaration d’Intention de Commencement de Travaux</td>
                        </tr>
                        <tr>
                            <td class="bold">D.D.</td>
                            <td>Déchets Dangereux</td>
                        </tr>
                        <tr>
                            <td class="bold">D.O.E.</td>
                            <td>Dossier des Ouvrages Exécutés</td>
                        </tr>
                        <tr>
                            <td class="bold">R.Q.S.E.</td>
                            <td>Responsable Qualité Sécurité Environnement</td>
                        </tr>
                        <tr>
                            <td class="bold">D.R.I.R.E.</td>
                            <td>Direction Régionale de l’Industrie, de la Recherche et de l’Environnement</td>
                        </tr>
                        <tr>
                            <td class="bold">E.P.I.</td>
                            <td>Equipement de Protection Individuelle</td>
                        </tr>
                        <tr>
                            <td class="bold">E.U.</td>
                            <td>Eaux Usées</td>
                        </tr>
                        <tr>
                            <td class="bold">F.N.C.</td>
                            <td>Fiche de Non Conformité</td>
                        </tr>
                        <tr>
                            <td class="bold">N.C.</td>
                            <td>Non Conforme</td>
                        </tr>
                        <tr>
                            <td class="bold">N.O.G.</td>
                            <td>Note d’Organisation Générale</td>
                        </tr>
                        <tr>
                            <td class="bold">O.P.P.B.T.P.</td>
                            <td>Organisme Professionnel de Prévention du Bâtiment et des Travaux Publics</td>
                        </tr>
                        <tr>
                            <td class="bold">P.A.</td>
                            <td>Points d’Arrêts</td>
                        </tr>
                        <tr>
                            <td class="bold">P.C.</td>
                            <td>Points Critiques</td>
                        </tr>
                        <tr>
                            <td class="bold">P.E.M.P.</td>
                            <td>Plate-forme Elévatrice Mobile de Personnel</td>
                        </tr>
                        <tr>
                            <td class="bold">P.G.C.</td>
                            <td>Plan Général de Coordination</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 4-->
           <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <table class="col1 transparent ">
                    <tbody>
                        <tr>
                            <td class="bold">P.I.C.</td>
                            <td>Plan d’Installation du Chantier</td>
                        </tr>
    
                        <tr>
                            <td class="bold">P.M.Q.</td>
                            <td>Plan Management Qualité</td>
                        </tr>
    
                        <tr>
                            <td class="bold">P.M.Q.S.E.</td>
                            <td>Plan de Management Qualité, Sécurité, Environnement</td>
                        </tr>
    
                        <tr>
                            <td class="bold">P.P.S.P.S.</td>
                            <td>Plan Particulier en matière de Sécurité et de Protection de la Santé</td>
                        </tr>
    
                        <tr>
                            <td class="bold">P.R.E.</td>
                            <td>Plan de Respect de l’Environnement</td>
                        </tr>
    
                        <tr>
                            <td class="bold">P.V.</td>
                            <td>Procès Verbal</td>
                        </tr>
    
                        <tr>
                            <td class="bold">Q.S.E.</td>
                            <td>Qualité Sécurité Environnement</td>
                        </tr>
    
                        <tr>
                            <td class="bold">R.Q.S.E.C.</td>
                            <td>Responsable Qualité Sécurité Environnement Chantier</td>
                        </tr>
    
                        <tr>
                            <td class="bold">R.R.H.</td>
                            <td>Responsable Ressources Humaines</td>
                        </tr>
    
                        <tr>
                            <td class="bold">S.P.S.</td>
                            <td>Sécurité et Protection de la Santé</td>
                        </tr>
    
                        <tr>
                            <td class="bold">S.O.</td>
                            <td>Sans Objet</td>
                        </tr>
    
                        <tr>
                            <td class="bold">S.S.T.</td>
                            <td>Sauveteur Secouriste du Travail</td>
                        </tr>
    
                        <tr>
                            <td class="bold">TX</td>
                            <td>Travaux (abréviation utilisée pour les instructions)</td>
                        </tr>
    
                        <tr>
                            <td class="bold">V.A.R.</td>
                            <td>Visé Avec Remarques</td>
                        </tr>
                        <tr>
                            <td class="bold">V.S.O.</td>
                            <td>Visé Sans Objet</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 4-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h1>Plan Particulier de Sécurité et de Protection de la Santé</h1>
                <h2 class="">1. Renseignements généraux</h2>
                <h3 class="">1.1 Identification des travaux</h3>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Localisation :</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="">Adresse du chantier :</td>
                            <td><b>{{ppsps['AddressConstrSite']}}</b></td>
                        </tr>
                        <tr>
                            <td class="">Adresse d'accès au chantier :</td>
                            <td><b>{{ppsps['AddressAccessSite']}}</b></td>
                        </tr>
                        <tr>
                            <td class="">Personne référente sur site :</td>
                            <td><b>{{ppsps['referent']}}</b></td>
                        </tr>
                        <tr>
                            <td class="">Téléphone :</td>
                            <td><b>{{ppsps['referentPhone']}}</b></td>
                        </tr>
                        <tr>
                            <td class="">Mail :</td>
                            <td><b>{{ppsps['referentMail']}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">L'entreprise intervient sur le chantier en tant que :</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if ppsps['siteType'] == "exclusif" %}checked="true"{% endif %} />&nbsp;Titulaire Exclusif</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if ppsps['siteType'] == "co-titular" %}checked="true"{% endif %}  />&nbsp;Co-titulaire</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if ppsps['siteType'] == "subcontractor" %} checked="true"{% endif %} />&nbsp;Sous-traitant de l'entreprise</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if ppsps['siteType'] == "mandatory" %} checked="true"{% endif %} />&nbsp;Groupement intégré - Mandataire</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Description des travaux propres à ROUGEOT (ou du Groupement) :</td>
                        </tr>
                        <tr>
                            <td>{{ppsps['descrWork']}}</td>
                        </tr>
                        {% if ppsps['mandatoryDescr'] is defined and ppsps['mandatoryDescr'] != null %}
                        <tr>
                            <td>{{ppsps['mandatoryDescr']}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Planning d'éxécution</td>
                        </tr>
                        <tr>
                            <td>Ce planning prévisionnel est joint au P.P.S.P.S.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Calendrier des travaux :</td>
                        </tr>
                        <tr>
                            <td>Durée prévue du chantier : Du <b>{{ppsps['dateBegin']}}</b> au <b>{{ppsps['dateEnd']}}</b></td>
                        </tr>
                    {% if beginStopWork is defined and beginStopWork != null and endStopWork is defined and endStopWork != null %}
                        <tr>
                            <td>Arrêt prévu du chantier du <b>{{beginStopWork}}</b> au <b>{{endStopWork}}</b></td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td>Déclaration d'Ouverture de Chantier faite le <b>{{ppsps['openingSite']}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% if ppsps['subContractedWorks'] is defined and ppsps['subContractedWorks'] != null %}
        {% for values in ppsps['subContractedWorks'] %}>
        <div class="pageContainer">
                <div class="pageContent">
                    <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                     {% if ppsps['logo'] is not null %}
                    <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                    {% else %}
                    <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                    {% endif %}
                    <table class="col1 transparent small">
                            <tbody>
                                <tr>
                                    <td class="bold underline title">Listes des travaux sous-traités envisagés :</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="col1">
                            <tbody>
                                <tr>
                                    <td class="bold">Nom du sous-traitant</td>
                                    <td class="bold">Travaux sous-traités</td>
                                    <td class="bold">Adresse</td>
                                </tr>
                                {% for subvalues in values %}
                                <tr>
                                    <td>{{subvalues.subContractor}}</td>
                                    <td>{{subvalues.subcontractedActivity}}</td>
                                    <td>{{subvalues.address}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                    </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
         <!--Page 4-->
         {% if ppsps['dealers'] is defined and ppsps['dealers'] != null %}
         {% for value in ppsps['dealers'] %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                 <table class="col1">
                    <tbody>
                        <tr>
                            <th>Concessionnaires</th>
                            <th>Contact</th>
                            <th>D.C.I.T. envoyée le</th>
                        </tr>
                        {% for subvalue in value %}
                        <tr>
                            <td>{{subvalue.name}}</td>
                            <td>{{subvalue.mail}}</td>
                            {% if subvalue.sendingDate != null %}
                                <td>{{subvalue.sendingDate}}</td>
                            {% else %}
                                <td>{{ "now"|date("d/m/Y", "Europe/Paris") }}</td>
                            {% endif %}
                        </tr>        
                        {% endfor %}
                    </tbody>
                </table>
                 <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!--Page 7-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                    {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.1.2 Organisation de l'entreprise (ou groupement) et intervenants</h3>
                <div id="bottomPipe"></div>
                <table class="col3 tableLeft center">
                    <tbody>
                        <tr>
                            <td class="bold  ">Animateur Qualité Sécurité Environnement</td>
                        </tr>
                    {% if ppsps['AQSE'] is defined and ppsps['AQSE'] != null %}
                            <tr>
                                <td>
                                    {{ppsps['AQSE'].name}}
                                </td>
                            </tr>
                     {% endif %}
                    </tbody>
                </table>
                <table class="col2 tableRight center">
                    <tbody>
                        <tr>
                            <td class="bold ">Conducteur(s) de Travaux<br><i class="mini">Diriger et organiser les ressources</i></td>
                        </tr>
                        {% if ppsps['workDirectors'] is defined and ppsps['workDirectors'] != null %}
                            {% for item in ppsps['workDirectors'] %}
                                <tr>
                                    <td>
                                        {{item.name}}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <table class="col2 tableRight center">
                    <tbody>
                        <tr>
                            <td class="bold ">Chef(s) de chantier<br><i class="mini">Mise en oeuvre des moyens et respect des consignes</i></td>
                        </tr>
                    {% if ppsps['siteManagers'] is defined and ppsps['siteManagers'] != null %}
                        {% for item in ppsps['siteManagers'] %}
                            <tr>
                                <td>
                                    {{item.name}}
                                </td>
                            </tr>
                        {% endfor %}
                     {% endif %}
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% if ppsps['speakers'] is defined and ppsps['speakers'] != null %}
        {% for value in ppsps['speakers'] %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.1.2 Organisation de l'entreprise (ou groupement) et intervenants</h3>
                <div id="bottomPipe"></div>
                <table class="col1">
                    <tbody>
                        <tr>
                            <th class="">Intervenants </th>
                            <th class="">Contact </th>
                            <th class="">Adresse </th>
                            <th class="">Fax </th>
                            <th class="">Mail </th>
                        </tr>
                        {% for subvalue in value %}
                            <tr>
                                <td>{{subvalue.name}}</td>
                                <td>{{subvalue.contact}}</td>
                                <td>{{subvalue.address}}</td>
                                <td>{{subvalue.fax}}</td>
                                <td>{{subvalue.Mail}}</td>
                            </tr>        
                        {% endfor %}
                        <tr>
                            <td>Sous-traitant </td>
                            <td colspan="5" class="center">Cf : Liste des Sous-taitants disponible sur chantier</td>
                        </tr>
                    </tbody>
                </table>
                {% if value == ppsps['speakers']|last %}
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">C.I.S.S.C.T. (Collège Interentreprises de Sécurité, de Santé et de Conditions de Travail)</td>
                        </tr>
                        <tr>
                            <td colspan="5">Obligation :</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="4">&nbsp;- pour les opérations de bâtiment : volume travaux > 10 000 hommes-jour et plus de 10 entreprises</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="4">&nbsp;- pour les opérations de génie civil : volume travaux > 10 000 hommes-jour et plus de 5 entreprises</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="checkbox" name="" {% if ppsps['myCissct'] == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td colspan="2"><input type="checkbox" name="" {% if ppsps['myCissct'] == false %}checked="true"{% endif %} />&nbsp;Non</td>
                        </tr>
                        <table class="col1">
                            <tbody>
                                <tr>
                                    <td>Le représentant sur le chantier est le Conducteur de Travaux : <b>{{ppsps['chiefWorkRepresentative']}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </tbody>
                </table>
                {% endif %}
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!--Page 8-->
        {% if ppsps['effectives'] is defined and ppsps['effectives'] != null %}
        {% for value in ppsps['effectives'] %}
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.1.3 Effectifs et horaires du chantier</h3>
                <h3 class="textLeft">Effectif sur le chantier</h3>
                <table class="col1">
                    <tbody>
                        <tr>
                            <th>Entreprise</th>
                            <th>Moyen <i>(nombre)</i></th>
                            <th>Maximum <i>(nombre)</i></th>
                        </tr>
                        {% for subvalue in value %}
                        <tr>
                            <td>{{subvalue.business}}</td>
                            <td>{{subvalue.average}}</td>
                            <td>{{subvalue.maximum}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if value == ppsps['effectives']|last %}
                <h3 class="textLeft">Horaires sur le chantier</h3>
                <table class="col1">
                    <tbody>
                        <tr>
                            <th>Jours</th>
                            <th>Matin</th>
                            <th>Après-midi</th>
                        </tr>
                        <tr>
                            <td class="">Lundi</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="">Mardi</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="">Mercredi</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="">Jeudi</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="">Vendredi</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!--Page 9-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h2 class="">1.2 Coordination S.P.S.</h2>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Observations :</td>
                        </tr>
                        <tr>
                            <td class="">Coordinateur sécurité</td>
                            <td><input type="checkbox" name="" {% if ppsps['securityCoordinator'] == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['securityCoordinator'] == false %}checked="true"{% endif %} />&nbsp;Non</td>
                            <td class="" colspan="2">Nom : <b>{{ppsps['securityCoordinatorName']}}</b> <td>
                        </tr>
                        <tr>
                            <td class="">PGC</td>
                            <td><input type="checkbox" name="" {% if ppsps['PGC'] == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['PGC'] == false %}checked="true"{% endif %} />&nbsp;Non</td>
                            <td class="">Date : <b>{{ppsps['PGCDate']}}</b> </td>
                            <td class="">Ref : <b>{{ppsps['PGCRef']}}</b> </td>
                        </tr>
                        <tr>
                            <td class="">Visite d'Inspection Commune</td>
                            <td><input type="checkbox" name="" {% if ppsps['inspectionVisitDate'] != null %}checked="true"{% endif %}/>&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['inspectionVisitDate'] == null %}checked="true"{% endif %} />&nbsp;Non</td>
                            <td class="" colspan="2">Date : <b>{{ppsps['inspectionVisitDate']}}</b></td>
                        </tr>
                        <tr>
                            <td class="">Niveau de chantier</td>
                            <td><input type="checkbox" name="" {% if ppsps['siteLevel'] == "Niveau 1" %}checked="true"{% endif %}/>&nbsp;1</td>
                            <td><input type="checkbox" name="" {% if ppsps['siteLevel'] == "Niveau 2" %}checked="true"{% endif %}/>&nbsp;2</td>
                            <td><input type="checkbox" name="" {% if ppsps['siteLevel'] == "Niveau 3" %}checked="true"{% endif %}/>&nbsp;3</td>
                        </tr>
    
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Accès circulation, parkings et clôture :</td>
                        </tr>
                        <tr>
                            <td class="" colspan="5">Un <i class="bold">" Plan d'accès au Chantier (PAC) "</i> et <i class="bold">" Plan d'Installation de Chantier (PIC)"</i> sont joints : </td>
                        </tr>
                        <tr>
                            <td class="" colspan="3">Accès Contrôlé</td>
                            <td><input type="checkbox" name=""  {% if ppsps['isControlled'] == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['isControlled'] == false %}checked="true"{% endif %}/>&nbsp;Non</td>
                        </tr>
                        <tr>
                            <td class="" colspan="3">Présence d'un Gardien</td>
                            <td><input type="checkbox" name="" {% if ppsps['isGuardian'] == true %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['isGuardian'] == false %}checked="true"{% endif %} />&nbsp;Non</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Livraisons</td>
                        </tr>
                        <tr>
                            <td class="" colspan="5">Le <i class="bold">" Plan d'accès au Chantier (PAC) "</i> et <i class="bold">" Plan d'Installation de Chantier (PIC)"</i> sont communiqués aux fournisseurs concernés dans le cadre de l'envoi du protocole de chargement / déchargement.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Stockage</td>
                        </tr>
                        <tr>
                            <td class="" colspan="5">Les lieux de stockage (matériaux, matériel, décehts) sont précisés sur le <i class="bold">" Plan d'Installation de Chantier (PIC)"</i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 10-->
            <!--Page 9-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Affichage</td>
                        </tr>
                        <tr>
                            <td>Le panneau d'affichage du chantier comprend au minimum :</td>
                        </tr>
                        <tr>
                            <td>- Règlement Intérieur</td>
                        </tr>
                        <tr>
                            <td>- Horaires de travail</td>
                        </tr>
                        <tr>
                            <td>- Coordonnées de l'Inspection du Travail et de la Médecine du Travail</td>
                        </tr>
                        <tr>
                            <td>- Membres du C.H.S.C.T., délégués du personnel, C.E. et les comptes-rendus de ces réunions</td>
                        </tr>
                        <tr>
                            <td>- Affiche <i class="bold">"Fiche Secours</i></td>
                        </tr>
                        <tr>
                            <td>- Liste des S.S.T.</td>
                        </tr>
                        <tr>
                            <td>- Congés annuels (note interne du Service RH)</td>
                        </tr>
                        <tr>
                            <td>- Informations Q.S.E.</td>
                        </tr>
                    </tbody>
                    <table class="col1 transparent small">
                        <tbody>
                            <tr>
                                <td class="bold underline title" colspan="5">Installations de chantier</td>
                            </tr> 
                    {% if ppsps['listOfInstallations'] is defined and ppsps['listOfInstallations'] != null %}
                        <tr>
                            <td><input type="checkbox" name="" {% if "Installation mobile équipée" in ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Installation mobile équipée</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "WC raccordé" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;WC raccordé</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "WC non raccordé" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;WC non raccordé</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Installation fixe" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Installation fixe</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Bureau de chantier" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Bureau de chantier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Vestiaire" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Vestiaire</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Réfectoire" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Réfectoire</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Lavabos" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Lavabos</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Douche" in  ppsps['listOfInstallations'] %} checked {% endif %} />&nbsp;Douche</td>
                        </tr>
                     {% endif %}
                            <tr>
                                <td colspan="5">Les tables sont recouvertes d'un revêtement lavable, les baraques de chantier sont équipées de bancs, chauffe-plats et les locaux sont éclairées, aérés, chauffés etc.</td>
                            </tr>
                            <tr>
                                <td colspan="5">L'ensemble des installations est raccordé aux réseaux et entretenu régulièrement par :</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="" colspan="3"  {% if ppsps['isMaintenedByRougeot'] == true %}checked="true"{% endif %} />&nbsp;Rougeot</td>
                                <td><input type="checkbox" name="" colspan="2" {% if ppsps['isMaintenedByRougeot'] == false %}checked="true"{% endif %} />&nbsp;Autre : <b>{{ppsps['maintainer']}}</b> <td>
                            </tr>
                            <tr>
                                <td colspan="5">Ces installations sont adaptées au fur et à mesure de l'avancement des travaux, en focntion de l'effectif total du chantier</td>
                            </tr>
                        </tbody>
                    </table>
                </table>
    
    
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.2.1 Surveillance médicale du personnel et aptitudes particulières</h3>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Surveillance médicale du personnel</td>
                        </tr>
                        <tr>
                            <td colspan="5">Elle est assurée par le(s) médecin(s) du travail.</td>
                        </tr>
                        <tr>
                            <td colspan="5">Les visites médicales sont obligatoires pour tout le personnel.</td>
                        </tr>
                        <tr>
                            <td colspan="5">- Visite d'embauche à l'entrée du salarié dans l'entreprise,</td>
                        </tr>
                        <tr>
                            <td colspan="5">- Visite annuelle,</td>
                        </tr>
                        <tr>
                            <td colspan="5">- Visite de reprise du travail après un arrêt de travail (suite à un accident, maladie professionnelle ou maternité),</td>
                        </tr>
                        <tr>
                            <td colspan="5">- Examens particuliers effectués en fonction des risques spécifiques auxquels pourraient être soumises certaines catégories de personnels</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Aptitudes particulières du personnel affecté au chantier</td>
                        </tr>
                {% if ppsps['suiabilityList'] is defined and ppsps['suiabilityList']  != null %}
                        <tr>
                            <td><input type="checkbox" name="" {% if "F.C.O." in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;F.C.O.</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Conduite d'engins" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Conduite d'engins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Conduite de nacelles élévatrices ou P.E.M.P." in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Conduite de nacelles élévatrices ou P.E.M.P.</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Utilisation d'explosifs CPT" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Utilisation d'explosifs CPT</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Travail en égout CATE 2" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Travail en égout CATE 2</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "H0/B0V" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;H0/B0V</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "H1/B1T" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;H1/B1T</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "H2/B2T" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;H2/B2T</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Grutier" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Grutier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "H2/B2T" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;H2/B2T</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "F.I.M.O." in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;F.I.M.O.</td>
                        </tr>
                           <tr>
                            <td><input type="checkbox" name="" {% if "Echafaudage: montage/démontage" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Echafaudage: montage/démontage</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Echafaudage: réception" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Echafaudage: réception</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Harnais" in  ppsps['suiabilityList'] %} checked {% endif %} />&nbsp;Harnais</td>
                        </tr>
                {% endif %}
                        <tr>
                            <td colspan="5">Pour les intérimaires, le conducteur de travaux ou le chef de chantier délivre une autorisation spécialement pour le chantier après contrôle des documents justificatifs (CACES et aptitude médicale)</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 10-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.2.2 Organisation des secours</h3>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td colspan="5">Les consignes de premiers secours se trouvent sur l'affiche Affiche secours et sont affichées sur chantier.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Cas de blessures légères :</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ Sans conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ Secours sur place par le Sauveteur Secouriste du Travail,</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ Information de l'encadrement chantier.</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ Avec conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ Premiers soins par le Sauveteur Secouriste du Travail,</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ Constat par le Chef de Chantier, avec le S.S.T. éventuellement, renseignement de la <i class="bold">Fiche Evénement SSE</i> envoyée au Service RH dans les 24 heures,</td>
                        </tr>
                        <tr>
                            <td class="bold underline title" colspan="5">En cas d'accident grave ou mortel :</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ L'encadrement travaux (CPT ou CDT) prévient par téléphone immédiatement :</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ Le SAMU 15, les POMPIERS 18 ou 112 et (si accident mortel) la GENDARMERIE ou la POLICE 17</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ le Responsable de l'affaire : DR ou DA si groupement et/ou le mandataire</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ l'Animateur Qualité Sécurité Environnement de l'entité dont il dépend</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ l'Animateur Qualité Sécurité Environnement prévient à son tour (ou le responsable de l'affaire)</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ le R.Q.S.E., le coordonnateur SPS et le Responsable Juridique</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ la CARSAT Prévention dans les 2-3 heures, l'OPPBTP et, dans le cas d'un accident mortel, l'inspecteur du travail</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ le RRH</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ lle Service RH prévient :</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ la Caisse Primaire du salarié</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ la société de Travail Temporaire sir le salarié est intérimaire</td>
                        </tr>
                        <tr>
                            <td colspan="5">✓ le CHSCT de l'entité</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Les S.S.T. (Sauveteurs Secouristes du Travail)</td>
                        </tr>
                        <tr>
                            <td colspan="5">La liste des <i>"Sauveteurs Secouristes du Travail"</i> est affichée sur le chantier.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">La boîte à pharmacie</td>
                        </tr>
                        <tr>
                            <td colspan="5">Des boîtes à pharmacie sont à disposition sur le chantier afin d'effectuer les premiers secours et sont gérées par le chef de chantier.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 11-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h3 class="">1.2.3 Documents obligatoires</h3>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Registres et documents obligatoires présents au démarrage du chantier :</td>
                        </tr>

                {% if ppsps['mandatoryDocument'] is defined and ppsps['mandatoryDocument']  != null %}
                        <tr>
                            <td><input type="checkbox" name="" {% if "Registre unique de sécurité" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Registre unique de sécurité</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Registre d'observations" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Registre d'observations</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Registre du personnel sur chantier" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Registre du personnel sur chantier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Registre des avis de dangers grave et imminent" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Registre des avis de dangers grave et imminent</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "PV de contrôle installation grue" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;PV de contrôle installation grue</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "PV de contrôle installation électrique" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;PV de contrôle installation électrique</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Permis de démolir" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Permis de démolir</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Autorisation de voirie" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Autorisation de voirie</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if "Arrêté de circulation" in  ppsps['mandatoryDocument'] %} checked {% endif %} />&nbsp;Arrêté de circulation</td>
                        </tr>
                {% endif %}

                    </tbody>
                    <table class="col1 center">
                        <tbody>
                            <tr>
                                <td>⇨ Ces documents sont tenus à jour et disponibles sur chantier.</td>
                            </tr>
                        </tbody>
                    </table>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Accueil et formation des nouveaux arrivants sur le chantier :</td>
                        </tr>
                        <tr>
                            <td colspan="5">L’accueil est assuré par le CDT ou le CC et se formalise sur <i class="bold">l' "Attestation de remise du livret d'accueil"</i> pour le personnel ROUGEOT (et le personnel du groupement si ROUGEOT est mandataire), les intérimaires,
                                le représentant sur chantier de l’entreprise sous-traitante et les loueurs.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Réunion spécifique d'information ou de formation à la sécurité propre au chantier</td>
                        </tr>
                        <tr>
                            <td colspan="5">Il peut être organisé pour le personnel de l’entreprise (ou groupement) des réunions spécifiques d’information, de formation ou de sensibilisation à la sécurité propre au chantier, afin notamment de présenter le P.P.S.P.S. du chantier
                                et les recommandations qu’il contient.</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Equipements de protections individuelles EPI :</td>
                        </tr>
                        <tr>
                            <td>Chaque salarié reçoit un paquetage (dont le contenu est adapté à l’activité du salarié), renouvelé annuellement,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Casque</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Vêtements de travail,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Chaussures ou bottes de sécurité,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Vêtements de pluie,</td>
                        </tr>
                        <tr>
                            <td>Des équipements spécifiques sont disponibles sur le chantier en fonction des risques et sont remis au salarié :</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Protections auditives,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Lunettes,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Masques respiratoires,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Jugulaires pour le casque,</td>
                        </tr>
                        <tr>
                            <td>&nbsp; - Gants de protection,</td>
                        </tr>
                        <tr>
                            <td>A la demande et contre remise de l’équipement usagé, il est remis un équipement de remplacement aux salariés.</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Page 11-->
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                 {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title">Protection contre l'incendie :</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ Dans les cantonnements :</td>
                        </tr>
                        <tr>
                            <td>Un extincteur portatif ABC de 6 litres au minimum pour 200 m2 de plancher, avec un minimum d’un appareil par niveau. Lorsque les locaux présentent des risques d’incendie particuliers, notamment des risques électriques, plaque
                            </td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ Dans les véhicules :</td>
                        </tr>
                        <tr>
                            <td>- Camionnettes de chantier
                                < 3,5 T : 1 extincteur ABC 2 kg en cabine</td>
                        </tr>
                        <tr>
                            <td>- Camions monoblocs et camions articulés entre 3,5 T et 7,5 T : 1 extincteur ABC 2 kg en cabine</td>
                        </tr>
                        <tr>
                            <td>- Camions monoblocs et camions articulés > 7,5 T : 1 extincteur ABC 2 kg en cabine + 1 extincteur 6 kg en extérieur</td>
                        </tr>
                        <tr>
                            <td class="mini">Pour le transport de matières dangereuses (exemple : le fioul), quel que soit le poids du véhicule, rajout d’un extincteur ABC 2 kg.</td>
                        </tr>
                        <tr>
                            <td class="underline" colspan="5">⇨ Au poste de travail :</td>
                        </tr>
                        <tr>
                            <td>- 1 extincteur 2 kg CO2 dans la cabine de grue</td>
                        </tr>
                        <tr>
                            <td>- 1 extincteur 6 kg ABC à chaque risque de flamme (ex : chalumeau, etc.)</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="">1.2.4 Consignes spécifiques au chantier</h3>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="title" colspan="2">Existe-t-il des consignes de sécurité particulières, en-dehors des heures normales de travail ?</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" {% if ppsps['particularSecurityMeasure'] != null %}checked="true"{% endif %} />&nbsp;Oui</td>
                            <td><input type="checkbox" name="" {% if ppsps['particularSecurityMeasure'] == null %}checked="true"{% endif %}  />&nbsp;Non</td>
                        </tr>
                        <tr>
                            <td colspan="2">Si oui, détailler :</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ppsps['particularSecurityDetail']}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        <!--Tableau des risques-->
        {% if ppsps['situations'] is defined and ppsps['situations'] != null %}
        {% for items in ppsps['situations'] %}
        
        <div class="pageContainer">
            <div class="pageContent">
                <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
                {% if ppsps['logo'] is not null %}
                <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ ppsps['logo']) }}"></div>
                {% else %}
                <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
                {% endif %}
                <h2 class="">1.3 Analyse des risques de ROUGEOT et des sous-traitants</h2>

                <table class="col1">
                    <tbody>
                        <tr>
                            <th colspan="4">{{items['situationGroup']}}</th>
                        </tr>
                        {% for key, subItems in items %}
                            {% if key != 'situationGroup' %} 
                            <tr>
                            <td class="bold normal">{{subItems.situation}}</td>
                            {% if subItems['tool'] is defined %}
                            <td {% if subItems['tool'] == null %} class="grey" {% endif %} class="normal" >
                                {% for tool in subItems['tool'] %}
                                    <p>{{tool}}</p>
                                {% endfor %}
                            </td>
                            {% else %}
                            <td class="grey">

                            </td>
                            {% endif %}    
                            {% if subItems['risk'] is defined %}
                            <td {% if subItems['risk'] == null %} class="grey" {% endif %} class="wide" >
                                {% for risk in subItems['risk'] %}
                                    <p>{{risk}}</p>                          
                                {% endfor %}
                            </td>
                            {% else %}
                            <td class="grey">

                            </td>
                            {% endif %}  
                            {% if subItems['measure'] is defined %}                        
                            <td {% if subItems['measure'] == null %} class="grey" {% endif %} class="normal" >
                                {% for measure in subItems['measure'] %}
                                <p>{{measure}}</p>
                                {% endfor %}
                            </td>
                            {% else %}
                            <td class="grey">

                            </td>
                            {% endif %}
                                <tr>
                                    <td colspan="4" class="grey"></td>
                                </tr>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="bottomLeft">NOM DU DOCUMENT</div>
                <div class="rightPage">page X</div>
                <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </body>
    {% block javascripts %}        
    <script>
        var list= document.getElementsByClassName("rightPage");
        for (var i = 0; i < list.length; i++) {
            let number = i+1
            list[i].innerHTML = 'Page ' + number + '/' + list.length
        }
    </script>
    {% endblock javascripts %}
    
</html>
