<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ROUGEOT TP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oci5yxr.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body>
    <!--Cover-->
    <!--div class="pageContainer">
        <div id="docCover"></div>
    </div-->
    <!--Page 1-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h1>P.P.S.P.S.</h1>
            <p>Plan Particulier pour la Sécurité et la Protection de la Santé</p>
            <table class="tableLeft col2">
                <tbody>
                    <tr>
                        <th>Nom du Chantier</th>
                        <th>N°</th>
                        <th>Adresse</th>
                        <th>Période d'éxécution</th>
                    </tr>
                    <tr>
                        <td>Contenu</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="maitreOuvrage col3 row2">
                <tbody>
                    <tr>
                        <th>Maître de l'Ouvrage</th>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="tableLeft col2">
                <tbody>
                    <tr>
                        <th>Indice de Révision</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <thead>
                    <tr>
                        <th colspan="4">Visas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Rédacteur</th>
                        <th>Conducteur de travaux</th>
                        <th>Approbateur</th>
                        <th>Directeur de projet</th>
                    </tr>
                    <tr>
                        <td>Nom : </td>
                        <td></td>
                        <td>Nom : </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date : </td>
                        <td></td>
                        <td>Date : </td>
                        <td></td>
                    </tr>
                    <tr class="row2">
                        <td>Signature : </td>
                        <td></td>
                        <td>Signature : </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <thead>
                    <tr>
                        <th colspan="2">Visas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Approbateur</th>
                        <th>QSE</th>
                    </tr>
                    <tr>
                        <td>Nom : </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date : </td>
                        <td></td>
                    </tr>
                    <tr class="row2">
                        <td>Signature : </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <thead>
                    <tr>
                        <th colspan="5">Diffusion Interne</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="2">Destinataire</th>
                        <th rowspan="2">Nom</th>
                        <th rowspan="2">Date</th>
                        <th colspan="2">Diffusion</th>
                    </tr>
                    <tr>
                        <th>Mail</th>
                        <th>Papier</th>
                    </tr>
                    <tr>
                        <td>R.Q.S.E.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Conducteur de travaux</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>D.Tx</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Directeur de Projet</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dir.Délégué / D.A.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 2-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h1>Tableau de mise à jour du P.P.S.P.S.</h1>
            <table class="col1">
                <tbody>
                    <tr>
                        <th>Objet de la modification</th>
                        <th>Indice</th>
                        <th>Date</th>
                        <th>Réalisé par :</th>
                        <th>Validé par :</th>
                    </tr>
                    <tr>
                        <td>Création du document</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>



                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--SOMMAIRE-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h1 class="bold underline">SOMMAIRE P.P.S.P.S.</h1>
            <h2 class="bold ">1 Plan Particulier de Sécurité et de Protection de la Santé</h2>
            <table class="col1 transparent ">
                <tbody>
                    <tr>
                        <td class="bold title" colspan="2">1.1 Renseignements généraux</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.1.1 Idenfification des travaux</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.1.2 Organisation de l'entreprise (ou du groupement) et intervenants</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.1.3 Effectif et horaires du chantier</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td class="bold title" colspan="2">1.2 Coordination S.P.S.</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.2.1 Surveillance médicale du personnel et aptitudes particulières</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.2.2 Organisation des secours</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.2.3 Documents obligatoires</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>1.2.4 Consignes spécifiques au chantier</td>
                        <td>page X</td>
                    </tr>
                    <tr>
                        <td class="bold title" colspan="2">1.3 Analyse des risques de ROUGEOT</td>
                        <td>page X</td>
                    </tr>
                </tbody>
            </table>

            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 3-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h1>Abréviations</h1>
            <table class="col1 transparent ">
                <tbody>
                    <tr>
                        <td class="bold">A.Q.S.E.</td>
                        <td>Animateur/trice Qualité, Sécurité, Environnement</td>
                    </tr>
                    <tr>
                        <td class="bold">BET</td>
                        <td>Bureau d’Etudes</td>
                    </tr>
                    <tr>
                        <td class="bold">B.P.E.</td>
                        <td>Bon Pour Exécution</td>
                    </tr>
                    <tr>
                        <td class="bold">C</td>
                        <td>Conforme</td>
                    </tr>
                    <tr>
                        <td class="bold">C.A.C.E.S.</td>
                        <td>Certificat d’Aptitude à la Conduite d’Engins en Sécurité</td>
                    </tr>
                    <tr>
                        <td class="bold">C.A.R.S.A.T.</td>
                        <td>Caisse d'Assurance Retraite et de la Santé Au Travail</td>
                    </tr>
                    <tr>
                        <td class="bold">C.C.</td>
                        <td>Chef de chantier</td>
                    </tr>
                    <tr>
                        <td class="bold">C.C.A.G.</td>
                        <td>Cahier des Clauses Administratives Générales</td>
                    </tr>
                    <tr>
                        <td class="bold">C.C.T.P.</td>
                        <td>Cahier des Clauses Techniques Particulières</td>
                    </tr>
                    <tr>
                        <td class="bold">C.D.T.</td>
                        <td>Conducteur des travaux</td>
                    </tr>
                    <tr>
                        <td class="bold">CE</td>
                        <td>Communauté Européenne (norme CE)</td>
                    </tr>
                    <tr>
                        <td class="bold">C.E.</td>
                        <td>Comité d’Entreprise</td>
                    </tr>
                    <tr>
                        <td class="bold">C.H.S.C.T.</td>
                        <td>Comité d’Hygiène, de Sécurité et des Conditions de Travail</td>
                    </tr>
                    <tr>
                        <td class="bold">D.I.B.</td>
                        <td>Déchets Industriels Banals</td>
                    </tr>
                    <tr>
                        <td class="bold">D.I.C.T.</td>
                        <td>Déclaration d’Intention de Commencement de Travaux</td>
                    </tr>
                    <tr>
                        <td class="bold">D.D.</td>
                        <td>Déchets Dangereux</td>
                    </tr>
                    <tr>
                        <td class="bold">D.O.E.</td>
                        <td>Dossier des Ouvrages Exécutés</td>
                    </tr>
                    <tr>
                        <td class="bold">R.Q.S.E.</td>
                        <td>Responsable Qualité Sécurité Environnement</td>
                    </tr>
                    <tr>
                        <td class="bold">D.R.I.R.E.</td>
                        <td>Direction Régionale de l’Industrie, de la Recherche et de l’Environnement</td>
                    </tr>
                    <tr>
                        <td class="bold">E.P.I.</td>
                        <td>Equipement de Protection Individuelle</td>
                    </tr>
                    <tr>
                        <td class="bold">E.U.</td>
                        <td>Eaux Usées</td>
                    </tr>
                    <tr>
                        <td class="bold">F.N.C.</td>
                        <td>Fiche de Non Conformité</td>
                    </tr>
                    <tr>
                        <td class="bold">N.C.</td>
                        <td>Non Conforme</td>
                    </tr>
                    <tr>
                        <td class="bold">N.O.G.</td>
                        <td>Note d’Organisation Générale</td>
                    </tr>
                    <tr>
                        <td class="bold">O.P.P.B.T.P.</td>
                        <td>Organisme Professionnel de Prévention du Bâtiment et des Travaux Publics</td>
                    </tr>
                    <tr>
                        <td class="bold">P.A.</td>
                        <td>Points d’Arrêts</td>
                    </tr>
                    <tr>
                        <td class="bold">P.C.</td>
                        <td>Points Critiques</td>
                    </tr>
                    <tr>
                        <td class="bold">P.E.M.P.</td>
                        <td>Plate-forme Elévatrice Mobile de Personnel</td>
                    </tr>
                    <tr>
                        <td class="bold">P.G.C.</td>
                        <td>Plan Général de Coordination</td>
                    </tr>
                    <tr>
                        <td class="bold">P.I.C.</td>
                        <td>Plan d’Installation du Chantier</td>
                    </tr>

                    <tr>
                        <td class="bold">P.M.Q.</td>
                        <td>Plan Management Qualité</td>
                    </tr>

                    <tr>
                        <td class="bold">P.M.Q.S.E.</td>
                        <td>Plan de Management Qualité, Sécurité, Environnement</td>
                    </tr>

                    <tr>
                        <td class="bold">P.P.S.P.S.</td>
                        <td>Plan Particulier en matière de Sécurité et de Protection de la Santé</td>
                    </tr>

                    <tr>
                        <td class="bold">P.R.E.</td>
                        <td>Plan de Respect de l’Environnement</td>
                    </tr>

                    <tr>
                        <td class="bold">P.V.</td>
                        <td>Procès Verbal</td>
                    </tr>

                    <tr>
                        <td class="bold">Q.S.E.</td>
                        <td>Qualité Sécurité Environnement</td>
                    </tr>

                    <tr>
                        <td class="bold">R.Q.S.E.C.</td>
                        <td>Responsable Qualité Sécurité Environnement Chantier</td>
                    </tr>

                    <tr>
                        <td class="bold">R.R.H.</td>
                        <td>Responsable Ressources Humaines</td>
                    </tr>

                    <tr>
                        <td class="bold">S.P.S.</td>
                        <td>Sécurité et Protection de la Santé</td>
                    </tr>

                    <tr>
                        <td class="bold">S.O.</td>
                        <td>Sans Objet</td>
                    </tr>

                    <tr>
                        <td class="bold">S.S.T.</td>
                        <td>Sauveteur Secouriste du Travail</td>
                    </tr>

                    <tr>
                        <td class="bold">TX</td>
                        <td>Travaux (abréviation utilisée pour les instructions)</td>
                    </tr>

                    <tr>
                        <td class="bold">V.A.R.</td>
                        <td>Visé Avec Remarques</td>
                    </tr>
                    <tr>
                        <td class="bold">V.S.O.</td>
                        <td>Visé Sans Objet</td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 4-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h1>Plan Particulier de Sécurité et de Protection de la Santé</h1>
            <h2 class="">1. Renseignements généraux</h2>
            <h3 class="">1.1 Identification des travaux</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Localisation :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Adresse du chantier :</td>
                        <td>......</td>
                    </tr>
                    <tr>
                        <td class="">Adresse d'accès au chantier :</td>
                        <td>......</td>
                    </tr>
                    <tr>
                        <td class="">Personne référente sur site :</td>
                        <td>......</td>
                    </tr>
                    <tr>
                        <td class="">Téléphone :</td>
                        <td>......</td>
                    </tr>
                    <tr>
                        <td class="">Mail :</td>
                        <td>......</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">L'entreprise intervient sur le chantier en tant que :</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Titulaire Exclusif</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Co-titulaire</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Sous-traitant de l'entreprise</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Groupement intégré - Mandataire</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Description des travaux propres à ROUGEOT (ou du Groupement) :</td>
                    </tr>
                    <tr>
                        <td>..............................</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Travaux sous-traités envisagés :</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <tbody>
                    <tr>
                        <td class="bold ">Nom du sous-traitant</td>
                        <td class="bold ">Travaux sous-traités</td>
                        <td class="bold ">Adresse</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Planning d'éxécution</td>
                    </tr>
                    <tr>
                        <td>Ce planning prévisionnel est joint au P.P.S.P.S.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Calendrier des travaux :</td>
                    </tr>
                    <tr>
                        <td>Durée prévue du chantier : Du .... au ....</td>
                    </tr>
                    <tr>
                        <td class="bold">Préciser éventuellement les arrêts de chantier et leur raison s'il y en a :</td>
                    </tr>
                    <tr>
                        <td class=""><input type="checkbox" name="" />&nbsp;Congés été</td>
                        <td class="bold" colspan="2">Dates: ...</td>
                    </tr>
                    <tr>
                        <td class=""><input type="checkbox" name="" />&nbsp;Congés hiver</td>
                        <td class="bold" colspan="2">Dates: ...</td>
                    </tr>
                    <tr>
                        <td class=""><input type="checkbox" name="" />&nbsp;Autre (préciser)</td>
                        <td class="bold" colspan="2"> Dates: ...</td>
                    </tr>
                    <tr>
                        <td>Déclaration d'Ouverture de Chantier faite le : ....</td>
                    </tr>
                    <tr>
                        <td class="title">Déclaration d'Intetion de Commencer les Travaux (D.C.I.T.) : ....</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <tbody>
                    <tr>
                        <th>Concessionnaires</th>
                        <th>D.C.I.T. envoyée le</th>
                    </tr>
                    <tr>
                        <td>Mairie</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>France Télécom</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>EDF</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GDF</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 7-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h3 class="">1.1.2 Organisation de l'entreprise (ou groupement) et intervenants</h3>
            <div id="bottomPipe"></div>
            <table class="col3 tableLeft center">
                <tbody>
                    <tr>
                        <td class="bold  ">Animateur Qualité Sécurité Environnement</td>
                    </tr>
                    <tr>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
            <table class="col2 tableRight center">
                <tbody>
                    <tr>
                        <td class="bold ">Directeur de Travaux</td>
                    </tr>
                    <tr>
                        <td><i class="mini">Définir l'organisation et l'attirbution des ressources</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <table class="col2 tableRight center">
                <tbody>
                    <tr>
                        <td class="bold ">Conducteur(s) de Travaux</td>
                    </tr>
                    <tr>
                        <td><i class="mini">Diriger et organiser les ressources</i></td>
                    </tr>
                    <tr>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <table class="col2 tableRight center">
                <tbody>
                    <tr>
                        <td class="bold ">Maitre compagnon</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col2 tableRight center">
                <tbody>
                    <tr>
                        <td class="bold ">Chef(s) de chantier</td>
                    </tr>
                    <tr>
                        <td><i class="mini">Mise en oeuvre des moyens et respect des consignes</i></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="col2 tableRight center">
                <tbody>
                    <tr>
                        <td class="bold ">Chef(s) d'équipe(s)</td>
                    </tr>
                    <tr>
                        <td>.....</td>
                    </tr>
                    <tr>
                        <td>.....</td>
                    </tr>
                    <tr>
                        <td>.....</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1">
                <tbody>
                    <tr>
                        <th class="">Intervenants </th>
                        <th class="">Contact </th>
                        <th class="">Adresse </th>
                        <th class=""> </th>
                        <th class="">Fax </th>
                        <th class="">Mail </th>
                    </tr>
                    <tr>
                        <td>Maître d'Ouvrage </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Maître d'Oeuvre Délégué </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Maître d'Oeuvre </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Bureau d'Etude Technique </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Contrôleur Technique </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Coordonnateur Sécurité Santé </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Inspection du Travail </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Médecine du Travail </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OPPBTP </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>C.A.R.S.A.T. </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CHSCT </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Co-Traitant </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sous-traitant </td>
                        <td colspan="5" class="center">Cf : Liste des Sous-taitants disponible sur chantier</td>
                    </tr>

                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">C.I.S.S.C.T. (Collège Interentreprises de Sécurité, de Santé et de Conditions de Travail)</td>
                    </tr>
                    <tr>
                        <td colspan="5">Obligation :</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">&nbsp;- pour les opérations de bâtiment : volume travaux > 10 000 hommes-jour et plus de 10 entreprises</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">&nbsp;- pour les opérations de génie civil : volume travaux > 10 000 hommes-jour et plus de 5 entreprises</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;Non</td>
                    </tr>
                    <table class="col1">
                        <tbody>
                            <tr>
                                <td>Le représentant sur le chantier est le Conducteur de Travaux :</td>
                            </tr>
                        </tbody>
                    </table>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 8-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h3 class="">1.1.3 Effectifs et horaires du chantier</h3>
            <h3 class="textLeft">Effectif sur le chantier</h3>
            <table class="col1">
                <tbody>
                    <tr>
                        <th>Entreprise</th>
                        <th>Moyen <i>(nombre)</i></th>
                        <th>Maximum <i>(nombre)</i></th>
                        <th>Période de pointe <i>(mois)</i></th>
                    </tr>
                    <tr>
                        <td class="">Rougeot</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Sous-traitant</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Co-traitant</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="row2">
                        <td>Groupement</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Autre</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="textLeft">Horaires sur le chantier</h3>
            <table class="col1">
                <tbody>
                    <tr>
                        <th>Jours</th>
                        <th>Matin</th>
                        <th>Après-midi</th>
                    </tr>
                    <tr>
                        <td class="">Lundi</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Mardi</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Mercredi</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Jeudi</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="">Vendredi</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 9-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h2 class="">1.2 Coordination S.P.S.</h2>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Observations :</td>
                    </tr>
                    <tr>
                        <td class="">Coordinateur sécurité</td>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                        <td class="" colspan="2">Nom : ...</td>
                    </tr>
                    <tr>
                        <td class="">PGC</td>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                        <td class="">Date : ...</td>
                        <td class="">Ref : ...</td>
                    </tr>
                    <tr>
                        <td class="">Visite d'Inspection Commune</td>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                        <td class="" colspan="2">Date : ...</td>
                    </tr>
                    <tr>
                        <td class="">Niveau de chantier</td>
                        <td><input type="checkbox" name="" />&nbsp;1</td>
                        <td><input type="checkbox" name="" />&nbsp;2</td>
                        <td><input type="checkbox" name="" />&nbsp;3</td>
                    </tr>

                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Accès circulation, parkings et clôture :</td>
                    </tr>
                    <tr>
                        <td class="" colspan="5">Un <i class="bold">" Plan d'accès au Chantier (PAC) "</i> et <i class="bold">" Plan d'Installation de Chantier (PIC)"</i> sont joints : </td>
                    </tr>
                    <tr>
                        <td class="" colspan="3">Accès Contrôlé</td>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                    </tr>
                    <tr>
                        <td class="" colspan="3">Présence d'un Gardien</td>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Livraisons</td>
                    </tr>
                    <tr>
                        <td class="" colspan="5">Le <i class="bold">" Plan d'accès au Chantier (PAC) "</i> et <i class="bold">" Plan d'Installation de Chantier (PIC)"</i> sont communiqués aux fournisseurs concernés dans le cadre de l'envoi du protocole de chargement / déchargement.
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Stockage</td>
                    </tr>
                    <tr>
                        <td class="" colspan="5">Les lieux de stockage (matériaux, matériel, décehts) sont précisés sur le <i class="bold">" Plan d'Installation de Chantier (PIC)"</i></td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Affichage</td>
                    </tr>
                    <tr>
                        <td>Le panneau d'affichage du chantier comprend au minimum :</td>
                    </tr>
                    <tr>
                        <td>- Règlement Intérieur</td>
                    </tr>
                    <tr>
                        <td>- Horaires de travail</td>
                    </tr>
                    <tr>
                        <td>- Coordonnées de l'Inspection du Travail et de la Médecine du Travail</td>
                    </tr>
                    <tr>
                        <td>- Membres du C.H.S.C.T., délégués du personnel, C.E. et les comptes-rendus de ces réunions</td>
                    </tr>
                    <tr>
                        <td>- Affiche <i class="bold">"Fiche Secours</i></td>
                    </tr>
                    <tr>
                        <td>- Liste des S.S.T.</td>
                    </tr>
                    <tr>
                        <td>- Congés annuels (note interne du Service RH)</td>
                    </tr>
                    <tr>
                        <td>- Informations Q.S.E.</td>
                    </tr>
                </tbody>
                <table class="col1 transparent small">
                    <tbody>
                        <tr>
                            <td class="bold underline title" colspan="5">Installations de chantier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Installation mobile équipée</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;WC raccordé</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;WC non raccordé</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Installation fixe</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Bureau de chantier</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Vestiaire</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Réfectoire</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Lavabos</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="5" />&nbsp;Douche</td>
                        </tr>
                        <tr>
                            <td colspan="5">Les tables sont recouvertes d'un revêtement lavable, les baraques de chantier sont équipées de bancs, chauffe-plats et les locaux sont éclairées, aérés, chauffés etc.</td>
                        </tr>
                        <tr>
                            <td colspan="5">L'ensemble des installations est raccordé aux réseaux et entretenu régulièrement par :</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" colspan="3" />&nbsp;Rougeot</td>
                            <td><input type="checkbox" name="" colspan="2" />&nbsp;Autre : ...</td>
                        </tr>
                        <tr>
                            <td colspan="5">Ces installations sont adaptées au fur et à mesure de l'avancement des travaux, en focntion de l'effectif total du chantier</td>
                        </tr>
                    </tbody>
                </table>
            </table>


            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 10-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h3 class="">1.2.1 Surveillance médicale du personnel et aptitudes particulières</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Surveillance médicale du personnel</td>
                    </tr>
                    <tr>
                        <td colspan="5">Elle est assurée par le(s) médecin(s) du travail.</td>
                    </tr>
                    <tr>
                        <td colspan="5">Les visites médicales sont obligatoires pour tout le personnel.</td>
                    </tr>
                    <tr>
                        <td colspan="5">- Visite d'embauche à l'entrée du salarié dans l'entreprise,</td>
                    </tr>
                    <tr>
                        <td colspan="5">- Visite annuelle,</td>
                    </tr>
                    <tr>
                        <td colspan="5">- Visite de reprise du travail après un arrêt de travail (suite à un accident, maladie professionnelle ou maternité),</td>
                    </tr>
                    <tr>
                        <td colspan="5">- Examens particuliers effectués en fonction des risques spécifiques auxquels pourraient être soumises certaines catégories de personnels</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Aptitudes particulières du personnel affecté au chantier</td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="checkbox" name="" />&nbsp;H0/B0V</td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="checkbox" name="" />&nbsp;H1/B1T</td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="checkbox" name="" />&nbsp;H2/B2T</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;Grutier</td>
                        <td colspan="3"><input type="checkbox" name="" />&nbsp;Travail en égoute CATE 2</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;F.I.M.O. <span class="mini">(Formation Initiale Minimale Obligatoire)</span></td>
                        <td colspan="3"><input type="checkbox" name="" />&nbsp;Echafaudage : montage/démontage</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;F.C.O. <span class="mini">(Formation Continue Obligatoire)</span></td>
                        <td colspan="3"><input type="checkbox" name="" />&nbsp;Echafaudage : réception</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="" />&nbsp;Conduite d'engins</td>
                        <td colspan="3"><input type="checkbox" name="" />&nbsp;Harnais</td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="checkbox" name="" />&nbsp;Conduite de nacelles élévatrices ou P.E.M.P.</td>
                    </tr>
                    <tr>
                        <td colspan="5"><input type="checkbox" name="" />&nbsp;Utilisation d'explosifs CPT <span class="mini">(Certificat Préposé au Tir)</span></td>
                    </tr>
                    <tr>
                        <td colspan="5">Pour les intérimaires, le conducteur de travaux ou le chef de chantier délivre une autorisation spécialement pour le chantier après contrôle des documents justificatifs (CACES et aptitude médicale)</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="">1.2.2 Organisation des secours</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td colspan="5">Les consignes de premiers secours se trouvent sur l'affiche Affiche secours et sont affichées sur chantier.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Cas de blessures légères :</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ Sans conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ Secours sur place par le Sauveteur Secouriste du Travail,</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ Information de l'encadrement chantier.</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ Avec conséquences sur l'activité de l'ouvrier (la personne ne quitte pas le chantier) :</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ Premiers soins par le Sauveteur Secouriste du Travail,</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ Constat par le Chef de Chantier, avec le S.S.T. éventuellement, renseignement de la <i class="bold">Fiche Evénement SSE</i> envoyée au Service RH dans les 24 heures,</td>
                    </tr>
                    <tr>
                        <td class="bold underline title" colspan="5">En cas d'accident grave ou mortel :</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ L'encadrement travaux (CPT ou CDT) prévient par téléphone immédiatement :</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ Le SAMU 15, les POMPIERS 18 ou 112 et (si accident mortel) la GENDARMERIE ou la POLICE 17</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ le Responsable de l'affaire : DR ou DA si groupement et/ou le mandataire</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ l'Animateur Qualité Sécurité Environnement de l'entité dont il dépend</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ l'Animateur Qualité Sécurité Environnement prévient à son tour (ou le responsable de l'affaire)</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ le R.Q.S.E., le coordonnateur SPS et le Responsable Juridique</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ la CARSAT Prévention dans les 2-3 heures, l'OPPBTP et, dans le cas d'un accident mortel, l'inspecteur du travail</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ le RRH</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ lle Service RH prévient :</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ la Caisse Primaire du salarié</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ la société de Travail Temporaire sir le salarié est intérimaire</td>
                    </tr>
                    <tr>
                        <td colspan="5">✓ le CHSCT de l'entité</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Les S.S.T. (Sauveteurs Secouristes du Travail)</td>
                    </tr>
                    <tr>
                        <td colspan="5">La liste des <i>"Sauveteurs Secouristes du Travail"</i> est affichée sur le chantier.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">La boîte à pharmacie</td>
                    </tr>
                    <tr>
                        <td colspan="5">Des boîtes à pharmacie sont à disposition sur le chantier afin d'effectuer les premiers secours et sont gérées par le chef de chantier.</td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Page 11-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h3 class="">1.2.3 Documents obligatoires</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Registres et documents obligatoires présents au démarrage du chantier :</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Registre unique de sécurité</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Registre d'observations</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Registre du personnel sur chantier</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Registre des avis de dangers grave et imminent</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;PV de contrôle installation grue</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;PV de contrôle installation électrique</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Permis de démolir</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Autorisation de voirie</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Arrêté de circulation</td>
                    </tr>
                </tbody>
                <table class="col1 center">
                    <tbody>
                        <tr>
                            <td>⇨ Ces documents sont tenus à jour et disponibles sur chantier.</td>
                        </tr>
                    </tbody>
                </table>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Accueil et formation des nouveaux arrivants sur le chantier :</td>
                    </tr>
                    <tr>
                        <td colspan="5">L’accueil est assuré par le CDT ou le CC et se formalise sur <i class="bold">l' "Attestation de remise du livret d'accueil"</i> pour le personnel ROUGEOT (et le personnel du groupement si ROUGEOT est mandataire), les intérimaires,
                            le représentant sur chantier de l’entreprise sous-traitante et les loueurs.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title" colspan="5">Réunion spécifique d'information ou de formation à la sécurité propre au chantier</td>
                    </tr>
                    <tr>
                        <td colspan="5">Il peut être organisé pour le personnel de l’entreprise (ou groupement) des réunions spécifiques d’information, de formation ou de sensibilisation à la sécurité propre au chantier, afin notamment de présenter le P.P.S.P.S. du chantier
                            et les recommandations qu’il contient.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Equipements de protections individuelles EPI :</td>
                    </tr>
                    <tr>
                        <td>Chaque salarié reçoit un paquetage (dont le contenu est adapté à l’activité du salarié), renouvelé annuellement,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Casque</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Vêtements de travail,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Chaussures ou bottes de sécurité,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Vêtements de pluie,</td>
                    </tr>
                    <tr>
                        <td>Des équipements spécifiques sont disponibles sur le chantier en fonction des risques et sont remis au salarié :</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Protections auditives,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Lunettes,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Masques respiratoires,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Jugulaires pour le casque,</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Gants de protection,</td>
                    </tr>
                    <tr>
                        <td>A la demande et contre remise de l’équipement usagé, il est remis un équipement de remplacement aux salariés.</td>
                    </tr>
                </tbody>
            </table>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="bold underline title">Protection contre l'incendie :</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ Dans les cantonnements :</td>
                    </tr>
                    <tr>
                        <td>Un extincteur portatif ABC de 6 litres au minimum pour 200 m2 de plancher, avec un minimum d’un appareil par niveau. Lorsque les locaux présentent des risques d’incendie particuliers, notamment des risques électriques, plaque
                        </td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ Dans les véhicules :</td>
                    </tr>
                    <tr>
                        <td>- Camionnettes de chantier
                            < 3,5 T : 1 extincteur ABC 2 kg en cabine</td>
                    </tr>
                    <tr>
                        <td>- Camions monoblocs et camions articulés entre 3,5 T et 7,5 T : 1 extincteur ABC 2 kg en cabine</td>
                    </tr>
                    <tr>
                        <td>- Camions monoblocs et camions articulés > 7,5 T : 1 extincteur ABC 2 kg en cabine + 1 extincteur 6 kg en extérieur</td>
                    </tr>
                    <tr>
                        <td class="mini">Pour le transport de matières dangereuses (exemple : le fioul), quel que soit le poids du véhicule, rajout d’un extincteur ABC 2 kg.</td>
                    </tr>
                    <tr>
                        <td class="underline" colspan="5">⇨ Au poste de travail :</td>
                    </tr>
                    <tr>
                        <td>- 1 extincteur 2 kg CO2 dans la cabine de grue</td>
                    </tr>
                    <tr>
                        <td>- 1 extincteur 6 kg ABC à chaque risque de flamme (ex : chalumeau, etc.)</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="">1.2.3 Consignes spécifiques au chantier</h3>
            <table class="col1 transparent small">
                <tbody>
                    <tr>
                        <td class="title" colspan="2">Existe-t-il des consignes de sécurité particulières, en-dehors des heures normales de travail ?</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" />&nbsp;Oui</td>
                        <td><input type="checkbox" name="" />&nbsp;Non</td>
                    </tr>
                    <tr>
                        <td colspan="2">Si oui, détailler :</td>
                    </tr>
                    <tr>
                        <td colspan="2">.......</td>
                    </tr>
                </tbody>
            </table>
            <div class="bottomLeft">NOM DU DOCUMENT</div>
            <div class="rightPage">page X</div>
            <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
        </div>
    </div>
    <!--Tableau des risques-->
    <div class="pageContainer">
        <div class="pageContent">
            <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
            <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
            <h2 class="">1.3 Analyse des risques de ROUGEOT et des sous-traitants</h2>
            <table class="col1">
                <tbody>
                    <tr>
                        <th colspan="4">GENERALITES ACTIVITES ET RISQUES RECURRENTS</th>
                    </tr>
                    <tr>
                        <td class="bold normal">Personnel</td>
                        <td class="normal">
                            <p>Fiche d'accueil QSE,<br> Registre unique du Personnel,<br> FDS simplifiées, <br>CR CHSCT</p>
                        </td>
                        <td class="wide"></td>
                        <td>
                            <p>Accueil QSE a l'arrivée sur chantier (Vérification des autorisations de conduite, des Aptitudes médicales, Consignes générales de sécurité et en cas d'accident)</p>
                            <p>Choix des produits les moins toxiques</p>
                            <p>Respect de la réglementation en terme d'hygiène et de sécurité</p>
                        </td>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td rowspan="3">Equipements de protection Individuelle</td>
                            <td class="grey"></td>
                            <td colspan="">
                                <p>Usure prématurée</p>
                            </td>
                            <td>
                                <p>Vérification périodique annuelle des harnais et des longes</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="grey"></td>
                            <td colspan="">
                                <p>Usure, dysfonctionnement</p>
                            </td>
                            <td>
                                <p>Contrôle visuel de tous les EPI</p>
                                <p>Contrôle des dates limites d’utilisation (casque, visières...)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="grey"></td>
                            <td colspan="">
                                <p>Mauvaise utilisation de la part des ouvriers</p>
                            </td>
                            <td>
                                <p>Formations et sensibilisations régulières</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td rowspan="4">Outils à main</td>
                            <td>
                                <p>Outils à main mécaniques (Marteau, pince, perceuse...)</p>
                            </td>
                            <td colspan="">
                                <p>Pincement, piqûre, écrasement</p>
                            </td>
                            <td>
                                <p>Port des gants, controle périodique des outils</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Outils tranchants (tronçonneuse, scie, meuleuse...)</p>
                            </td>
                            <td colspan="">
                                <p>Coupures, sectionnements</p>
                            </td>
                            <td>
                                <p>Matériel vérifé périodiquement, changement des pièces usées, suivi par les salariés de la façon d'utiliser les outils</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Outils à source de chaleur (Chalumeau, poste à souder, meuleuse)
                                </p>
                            </td>
                            <td colspan="">
                                <p>Brûlure</p>
                            </td>
                            <td>
                                <p>Port de vêtements ignifugés, gants anti-brulures, matériel vérifié périodiquement et réparé dès que nécessaire</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Nettoyeur haute pression
                                </p>
                            </td>
                            <td colspan="">
                                <p>Projections</p>
                            </td>
                            <td>
                                <p>Port de lunettes de protection, utilisation du matériel selon les prescriptions fournisseur</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td rowspan="3">Matériels électroportatifs</td>
                            <td>
                                <p>Acceessibilité à des parties dangereuses</p>
                            </td>
                            <td colspan="">
                                <p>Coupures, perforations, sectionnements</p>
                            </td>
                            <td>
                                <p>Port des EPI correspondants, le matériel électroportatif est contrôlé périodiquement, le remplacement des éléments défectueux est assuré dès que possible, les dispositifs de sécurité doivent être respectés.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Utilisation du matériel</p>
                            </td>
                            <td colspan="">
                                <p>Projections</p>
                            </td>
                            <td>
                                <p>Port des lunettes de sécurité et des EPI adaptés au matériel utilisé</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Utilisation du matériel</p>

                            </td>
                            <td colspan="">
                                <p>Bruit</p>
                            </td>
                            <td>
                                <p>Port de protections auditives</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">Circulation piétonne sur chantier
                            </td>
                            <td>
                                <p>Circulation piétonne sur chantier</p>
                            </td>
                            <td colspan="">
                                <p>Heurts avec engins, chute de plain pied, chute de hauteur
                                </p>
                            </td>
                            <td>
                                <p>Engins équipés de systèmes d'alarme, balisage du chantier et des fosses s'il y en a</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Circulation piétonne à proximité du chantier</p>
                            </td>
                            <td colspan="">
                                <p>Heurts avec engins, chute de plain pied, chute de hauteur
                                </p>
                            </td>
                            <td>
                                <p>Chantier balisé, présence de signalisation et de panneau d'information</p>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td rowspan="3">Manutention manuelle de charges
                            </td>
                            <td>
                                <p>Port de charges</p>
                            </td>
                            <td colspan="">
                                <p>TMS, blessures, coupures, fractures
                                </p>
                            </td>
                            <td>
                                <p>Port de gants adaptés à la manutention et des chaussure de sécurité, utilisation de diable, d'aides à la manutention, adoption de la bonne posture (genoux pliés, dos droit), si besoin demander à se faire aider</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Déchargement de matériel
                                </p>
                            </td>
                            <td colspan="">
                                <p>TMS, blessures, coupures, fractures
                                </p>
                            </td>
                            <td>
                                <p>Décargements effectués sur des surfaces non encombrées et planes, port de gants adaptés à la manutention et des chaussures de sécurité</p>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Stockage matériel
                                </p>
                            </td>
                            <td colspan="">
                                <p>Chute d'objets, TMS, Coupure, écrasements, fractures
                                </p>
                            </td>
                            <td>
                                <p>Mise des lieux de stockage à hauteur d'homme dès que possible, port de gants adaptés à la manutention et des chaussures de sécurité</p>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="grey"></td>
                        </tr>


                    </tr>
                </tbody>
            </table>


</body>

</html>