{% extends "basePPSPS.html.twig" %}
{% block page %}
<div class="pageContainer">
    <div class="pageContent">
        <div class="cornerTop"><img src="{{ asset('img/left-corner-top.jpg') }}"></div>
         {% if logo is not null %}
        <div class="cornerRight"><img src="{{ asset('groupLogo/' ~ logo) }}"></div>
        {% else %}
        <div class="cornerRight"><img src="{{ asset('img/logo.png') }}"></div>
        {% endif %}
        <h1 class="bold underline">SOMMAIRE P.P.S.P.S.</h1>
        <h2 class="bold ">1 Plan Particulier de Sécurité et de Protection de la Santé</h2>
        <table class="col1 transparent ">
            <tbody>
                <tr>
                    <td class="bold title" colspan="2">1.1 Renseignements généraux</td>
                    <td>page {{summaryWorks}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.1.1 Idenfification des travaux</td>
                    <td>page {{summaryWorks}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.1.2 Organisation de l'entreprise (ou du groupement) et intervenants</td>
                    <td>page {{summaryPersons}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.1.3 Effectif et horaires du chantier</td>
                    <td>page {{summaryEffectives}}</td>
                </tr>
                <tr>
                    <td class="bold title" colspan="2">1.2 Coordination S.P.S.</td>
                    <td>page {{summaryCoordinator}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.2.1 Mesures génerales Hygiène,Sécurité et Santé au Travail</td>
                    <td>page {{summaryCoordinator}}</td>
                </tr>               
                <tr>
                    <td></td>
                    <td>1.2.2 Surveillance médicale du personnel et habilitations particulières</td>
                    <td>page {{summaryMedicalAndParticular}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.2.3 Organisation des secours</td>
                    <td>page {{summaryReliefOrganization}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.2.4 Mesures de préventions</td>
                    <td>page {{summaryMandatoryDocument}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.2.5 Consignes spécifiques au chantier</td>
                    <td>page {{summarySpecificSecurity}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.2.6 Risques importés / risques exportés</td>
                    <td>page {{summarySpecificSecurity}}</td>
                </tr>
                <tr>
                    <td class="bold title" colspan="2">1.3 Analyse des risques de ROUGEOT</td>
                    <td>page {{summaryRisks}}</td>
                </tr>
            </tbody>
        </table>

        <div class="bottomLeft">PPSPS {{siteName}} - {{siteNumber}}</div>
        <div class="rightPage">page {{page + 1}}</div>
        <div class="bottomRight"><img src="{{ asset('img/right-corner-bottom.jpg') }}"></div>
    </div>
</div>
{% endblock %}